[2016-11-11 19:16] #4720 closed

[2016-11-11 19:18] Zen-CODE commented on #4719
Does anything appear in the error logs?

[2016-11-11 19:20] NicoHood commented on #4720
Thanks. I was just kindly asking, I expected that. But sometimes it happens that people just forget new releases ;)

You cannot do that if the owner (you) closes the issue. But nevermind ;)

[2016-11-11 19:21] tshirtman commented on #4720
It's not an "issue" per see, but i agree, we need to put a new release out asap.

[2016-11-11 19:30] inclement commented on #4469
This is great, very nice work!

Personally, I'd love to have this working smoothly in kivy master - I'm not sure if we'd be able to officially support it much, but I don't think that should get in the way of making it as easy as possible.

[2016-11-11 19:40] Zen-CODE commented on #4720
@NicoHood. Thanks for understanding.

ps. Did not know you cannot re-open it. My bad. Okay, feel free to post again if you want it re-opened. :-)

[2016-11-11 19:59] Zen-CODE commented on #4706
Which OS are you using?
What is the resolution of your screen?
Have you tried removing 'display = -1'? That is not a documented value...
And tried removing 'position = auto', or changing to 'position = custom'?
And tried changing the height and width?
And which version of kivy are you using?

That being said, it probably is an issue. https://github.com/kivy/kivy/issues/4660

[2016-11-11 20:52] Zen-CODE commented on #4691
This works fine when using SDL2 (on Yosemite anyway). Tested using 1.9.1 but in Python 2.7, also installed via pip.

Have you tried forcing SDL2 as a windows provider to see if that fixes it?
https://kivy.org/docs/guide/environment.html?highlight=sdl2

[2016-11-11 21:01] Zen-CODE commented on #4669
@drogu. The instruction provided above work when tested on 10.12. If they do not work for you, please post what you did, where it went wrong and what the message was. Otherwise we can't really help and will close the ticket.

[2016-11-11 21:32] Zen-CODE commented on #4413
The issue in the original post has been covered. Adding this to the documentation is covered here. https://github.com/kivy/kivy/issues/4682

Thanks

[2016-11-11 21:32] #4413 closed

[2016-11-11 23:31] jwillyfg commented on #4706
I'm working on Raspbian.. I've been reading about this issue and i found that the problem is the window provider, raspbian works with egl_rpi and some values don't work with this provider. I attempted to use sdl2 instead egl_rpi but when i run the code it crashes.

[2016-11-11 23:38] KeyWeeUsr commented on #4706
@jwillyfg crashes how? What's the error? Paste the log.

[2016-11-12 00:43] jwillyfg commented on #4706
i post an example code where i'm attempting to change window provider. this code never creates a window and the log file looks kind of incomplete.
[kivy_16-11-11_2.txt](https://github.com/kivy/kivy/files/586973/kivy_16-11-11_2.txt)
[test.txt](https://github.com/kivy/kivy/files/586974/test.txt)

[2016-11-12 04:59] Zen-CODE commented on #4706
Hmm. Looking at 'core_/__init__.py' (line 63), that suggests it can successfully import the sdl2 window provider. Try adjusting you log level so it logs everything.

ps. It really looks like 'window_egl_rpi' is meant to be used for the pi. We may well be barking up the wrong tree. Have you tried this? http://kivypie.mitako.eu/kivy-download.html

[2016-11-12 05:08] jwillyfg commented on #4706
yeah! i've tried with kivypie and it works as the same manner. I'm thinking of sdl2 window provider can't work on raspberry pi.

[2016-11-12 05:40] Zen-CODE commented on #4682
@KeyWeeUsr. I once submitted a PR to present a message instead of throw an error, but someone felt that might make it incompatible. I don't think that's legitimate: it's bad practice to rely on errors.

I will prepare anotherPR that logs these messages instead of throwing an error. I think that makes much more sense as errors are things you cannot predict. This is predictable, and not an error so

[2016-11-12 07:19] dessant commented on #4469
Let's reopen, we are very much in favor of seeing this integrated in some form, though as others noted, it will most likely happen as a community effort.

[2016-11-12 08:43] schoolsplay commented on #4724
But it with "mouse=mouse" it will introduce double touch events.
Remove it and all works as it should be.
So the entry must be:

[input]
%(name)s = probesysfs,select_all=1

[2016-11-12 10:33] KeyWeeUsr commented on #4682
@Zen-CODE I put the documentation+easy tag here, because the adding user to input seemed like a solution for the permission errors too. Or just a note about that in docs. A beginner won't most likely know what's going on except "permission denied" and I think it could lead to opening Kivy apps with `sudo` because of an error just to make things smooth in the log. ^^

[2016-11-12 10:41] Zen-CODE commented on #4682
Yes, I am also going to add that to the docs. But even with that in the docs, I think it's wrong for an error to be thrown. It's really not an error, it's a permission issue so should appear as such. It is unnecessary to spit such an alarming to the console and has been the cause of many posts and questions.

Agreed? Or do you think it should throw and error as it currently does?

[2016-11-12 11:02] KeyWeeUsr commented on #4682
I'm not really sure if it should be thrown. As I read the questions it doesn't seem to cause problems except for that denied access, which is probably only for fetching devices, therefore catching and printing is the good thing to do, right?

[2016-11-12 11:38] Zen-CODE commented on #4682
If you look at the PR, you'll see two posts by people alarmed by the message. So was I when I first started using kivy (also being new to linux). And those are just two I could google quickly. There have also been many questions on the forums about it, because it does throw an error and people think something is wrong.

I was actually going to ask you to test and merge it :-) I think it causes too

[2016-11-12 17:04] KeyWeeUsr commented on #4703
I think this should be reported in p4a repository as buildozer works with that under the hood. Not sure what's wrong though. Try fresh install or master branch or p4a.

[2016-11-12 17:04] #4703 closed

[2016-11-12 17:05] KeyWeeUsr commented on #4702
ref https://github.com/kivy/python-for-android/issues/920

[2016-11-12 17:36] KeyWeeUsr commented on #4672
Not sure if an issue or not. If I create `TextInput`s with `use_bubble=True` (as it'd work on mobile), the bubble is clearly visible when clicked in the right area i.e.:

* directly under the top = invisible (bubble is too far above widget)
* a little bit lower = visible

Should the `Bubble` in `TextInput` switch its orientation too e.g. when triggered by a touch in upper part of a widget? The def

[2016-11-12 17:42] KeyWeeUsr commented on #4688
Try this:

    $ USE_OSX_FRAMEWORKS=0 pip install https://github.com/kivy/kivy/zipball/master

This is at least the 5th time I see this issue here+irc+SO+own attempt with stable on pip. I'm not sure if it doesn't fetch the variable or what, but I think it was fixed somewhere in master branch. I remember something about using master few months ago when I tried to install it in VM and I think it wor

[2016-11-12 18:06] mixmastamyk commented on #4682
I didn't like the error either, but I gathered that since it had been ignored for years someone supported it.  Therefore I though docs could help.  But, if you'd like to log it instead, by all means.  The log message might include reference to the "input" group if it needed under other popular distros as well.

[2016-11-12 18:24] Zen-CODE commented on #4682
@mixmastamyk. @KeyWeeUsr. Absolutely. Will link to the doc changes to this ticket so better wording can be suggested.

Thanks. Respect.

[2016-11-12 19:17] dgym commented on #4469
I have added my work so far to this branch: https://github.com/dgym/kivy/tree/emscripten-wip

It breaks some things and I'm not convinced that the build process should even be in the Kivy repo. The submodule I added certainly shouldn't be. However it should hopefully give anyone interested a way to reproduce my work and builds.

So those caveats are quickly adding up, here are some things I'm havi

[2016-11-12 21:08] udiboy1209 commented on #4710
@steve1805 I cant see the pull request you are talking about. Can you link to the pull request here or mention this issue(# 4710) in that thread  so github automatically links the two!

[2016-11-12 21:43] frankgould commented on #4703
Thanks for the suggestion KeyWeeUsr. I tried deleting .buildozer from my app directory and it reloaded everything but ended up with the same results. Are you suggesting I do something different? I'm not sure what "fresh install or master branch or p4a" means exactly.

[2016-11-12 22:39] KeyWeeUsr commented on #4703
Well, you've kind of done the fresh install already when you deleted `.buildozer`, but I meant removing it completely and installing from pip again, even trying the master branch (`pip install https://github.com/kivy/buildozer/zipball/master`) or using directly the python-for-android toolchain (stable or master).

[2016-11-13 10:09] steve1805 commented on #4710
@udiboy1209 Don't know, it was the first and last time I have attempted this... to darn difficult, rage out time, my personal server version of github via git tools is far easier. I will keep it simple...

https://gist.github.com/steve1805/4fcc915b6195b19745b1dec44810af92

[2016-11-13 12:19] udiboy1209 commented on #4710
@steve1805 ahh you made one to your own fork! https://github.com/steve1805/kivy/pull/1 ! You had to make a PR to this repository ('kivy/kivy' and not 'steve1805/kivy'). You can follow [this tutorial](https://help.github.com/articles/creating-a-pull-request-from-a-fork/) for future reference. Right now I'll make a PR myself using your file, don't worry :smile:

[2016-11-13 12:21] #4682 closed

[2016-11-13 12:56] KeyWeeUsr commented on #4650
Feel free to test the PR.

[2016-11-13 13:28] udiboy1209 opened #4727 "Saving an Image using 'save()' throws error"
Trying to save using this simple example from docs

On Ubuntu 16.04, python v2.7.11, kivy master
[code]

Gives this error:

[code]

Error is at this line: https://github.com/kivy/kivy/blob/master/kivy/core/image/__init__.py#L848

The `populate()` method is in `ImageLoaderBase` class and not in `Image` class.

[2016-11-13 15:38] #4710 closed

[2016-11-13 20:47] zmandt opened #4729 "sudo issue"
So I'm having an issue running a test app here.  When I run the app with "python main.py" it runs fine in and is recognized by the touchscreen and everything visually is working, except there's no actual control for the GPIO pins on the pi.  So I dug around and discovered that I need to sudo the main.py file, and when I do, the touchscreen stops receiving input...  Here's my log file, has anyone r

[2016-11-13 23:15] tshirtman commented on #4650
I do believe it's an editor's problem, commenting a few lines at once should be a few keystroke at most, either the editor is bad, or it's badly configured.

But if there is a real need, and a syntax is found, i guess it's ok.

[2016-11-13 23:35] dgym commented on #4469
@helenst kindly put together builds for lots of the examples:
https://dgym.github.io/kivy-browser-demo/

It seems there is a text input rendering problem - another thing to add to the list.

[2016-11-14 05:00] dessant commented on #4469
@dgym, you've been invited to the Contributor team, this gives you write access in case you'd like to work in a branch directly. Thanks a million times for your work, your demo is truly amazing.

[2016-11-14 20:23] K0XX commented on #4650
I know many editors can edit differents lines of code at once, but this appears to be a workaround.
Multiline comment is something that exists in every programming language.. so why not in Kivy?
I'd like to have this feature on notepad too!! :-)

Thanx.

[2016-11-14 20:41] inclement commented on #4650
Per my comments in the other thread, I basically agree with tshirtman, but don't like the proposed syntax even if people want this feature.

I also think it's important that ''' in Python doesn't delimit a comment but a string - this works as a comment in Python code with almost no repercussions, but for the same reason it can't work as a comment in kv without being much more complicated, as ''' s

[2016-11-14 23:42] KeyWeeUsr commented on #4650
Hehe, I'm not really good with new syntax, no surprise. I like udiboy's more than mine (edited it), but the reqest is rather harmless and if there's going to be more extended launcher in the future, this might help with quick editing. That's being said, I'm kind of "neutral" here. I mean, I'll certainly patch my phone, because I use it while traveling, yet on desktop I don't really care as there's

[2016-11-15 11:21] KeyWeeUsr opened #4730 "ActionGroup needs clicking twice"
Is it only me, or does the `ActionGroup` requires clicking twice? It worked normally before, at least in the beginning of 2016, but recently when I worked with it for a while I noticed this thing. The first touch seems to be ignored, but _isn't_ (try `on_release`), yet the `DropDown` won't show. When clicked the second time, it works normally. Seems like there's some issue with initialising the wi

[2016-11-15 16:29] xeroxyde opened #4731 "Kivy kills Plasma desktop"
Hello,
When I launch any program using Kivy when the window initializes it seems that my desktop environment is almost entirely closed. Every window that are already open lose their borders but remain opened. However, I can't switch between them. I can still interact with them as if everything was fine though.

Kivy was working fine several days ago, this started to happen since I've made a system

[2016-11-15 16:34] benrob0329 commented on #4731
I've had a similar problem in KDE Plasma as well where the desktop simply doesn't update the frame (in fact, it grabs some random frame from earlier somehow).

From what I could gather, I believe that certain application that render using OGL conflict with the compositor or general renderer of Plasma, as it also happens when I tried to use the Unreal Engine Editor.

[2016-11-15 16:43] xeroxyde commented on #4731
I thought it was more likely a problem with the SDL since its window related and it seems to be a redundant issue in Kivy development. But anyway, how is that conflict even possible ?

[2016-11-15 17:04] tshirtman commented on #4731
You could try using different window options (like fullscreen modes, borderless, etc), of kivy, to see if it influences this behavior, or try a different window provider than SDL2, you can build kivy with different providers (pygame has been the default one for a long time, and although it's deprecated, it could be useful to test with it instead, there is a X11 provider too). If you find a configu

[2016-11-15 17:08] tshirtman commented on #4731
Can you test with other OpenGL apps like Blender, glxgears, etc? see if it happens too, it does look more like a plasma/kwin issue than a kivy one.

[2016-11-15 17:09] akshayaurora commented on #4731
Try setting the win compositor options to not use OpenGL...does that solve the issue?

[2016-11-15 18:18] xeroxyde commented on #4731
I'm back. Sorry for the long time between my answer. I have some serious bandwidth lag since yesterday so I got some difficulties getting everything I needed.

Anyway, I tried twos programs using OpenGL, Blender and GZDoom. Both were working fine with multiple tests. I've installed kivy into a virtual environment along with pygame and it still kills the DE. I don't know and I didn't found how to l

[2016-11-15 19:20] akshayaurora commented on #4731
ok, first if you are using VirtualBox then please tell us details about that.

Open GL on Virtualbox is known to be broken and plasma5 not working with it is a known issue.

[2016-11-16 00:29] udiboy1209 commented on #4730
I am getting the same result. First click results in a blink of the background. Second click is ignored entirely. Then everything works normally.

[2016-11-16 08:20] xeroxyde commented on #4731
No I'm not on a virtual machine.

[2016-11-16 17:53] chrisfosterelli commented on #4691
@Zen-CODE Kivy refuses to start with the window provider set to anything other than Pygame. I tried installing it via `pip3 install pysdl2`, but Kivy still doesn't seem to identify it when as it still prints `[Window] Provider: ...`

[2016-11-17 18:23] mixmastamyk opened #4733 "Intermittent crashes in screenmanager"
I'm using screenmanager and perhaps push it a bit harder than most.  It occasionally crashes when I change pages quickly, much of the time when I use the .previous() function.

The issues seem to be that the screen instance is being removed but still has a parent/manager and so raises an exception when it is being added the next time.  Perhaps some kind of race condition?

 I'm now catching these

[2016-11-17 18:59] Dalker commented on #2379
Just found this issue when googling for the exact same problem, two years later.

I encountered this while trying to do a minor modification to the _Pong_ tutorial. I wanted to change the score labels at the end of the game to reflect the winner/loser.

The only modification I did for this purpose to the tutorial code was adding `id`s for the labels, and then instructions akin to `self.label1.colo

[2016-11-17 20:33] Zen-CODE commented on #4731
Ha. I also have this running lubuntu 16.04 but it seems only when running fullscreen set in ~/.kivy/config.ini. Windows temporarily loose their decoration and kwin restarts. Then it's okay again. That's running 1.9.1. I think. Will experiment more and post any relevant findings. Will try and get a kwin log perhaps?

[2016-11-17 21:13] inclement commented on #2379
@Dalker I don't think the way Button behaves here is good, you're right that it's surprising. We may be able to change this for kivy 2.0 (taking the opportunity for a few breaking changes of this type).

For the Color propagation, that's probably just something to learn to live with, but I'm not sure you've understood it fully - the order of classes in the kv file does not matter, only the order o

[2016-11-18 05:48] Dalker commented on #2379
@inclement Thanks for taking the time to reply.

I now see that it does make sense that the order between the properties can matter in this situation. Well, not "properties" per se, but "canvas instructions", as you point out, which I guess is the initial source of confusion: when looking at a .kv file for the first time, these really do "look" like if they were "properties" (and that's why the ne

[2016-11-18 06:05] kamathln commented on #2789
Bump.
Not an expert here, but fixing this issue **might** help with transitioning to newer Android camera API.

[2016-11-18 20:14] akshayaurora opened #4735 "Kivy Website needs updation"
It's been 5+ years of the same old design... needs a total overhaul

[2016-11-18 20:24] akshayaurora commented on #4735
duplicate ofhttps://github.com/kivy/kivy-website/issues/52

[2016-11-18 20:24] #4735 closed

[2016-11-18 21:01] janssen opened #4736 "setting suggestion_text crashes if textinput.text is empty string"
Example:

[code]

and the result:

[code]

[2016-11-18 21:13] janssen commented on #4736
There's clearly an initialization bug and race condition here.  This crashes:

[code]
but this doesn't (only difference is delaying the Clock callback by one second):
[code]

[2016-11-19 06:11] kamathln opened #4738 "Seperate the examples into a seperate project"
I am on a slow Internet connection here, and it is a pain to see all the examples unnecessarily slowing down the cloning process. It would also help cloning over cellular networks without eating into the Cap.

[2016-11-19 06:19] kamathln commented on #4738
Was only 31 MB? Sorry for the trouble!

[2016-11-19 06:19] #4738 closed

[2016-11-19 10:58] NicoHood opened #4739 "GPU Cache not freed on Raspberry Pi"
I want to create a guestwlan qr code display with photo diashow on my raspberry pi with the official display. I am using archlinux with kivy 1.9.1. that i recompiled as otherwise it would not load the raspberry specific drivers for the GPU.

I can display up to 4 pictures with 64mb GPU mem and ~10 with 128 GPU mem. I am not using any XORG, just tty1. the pictures I use are the gnome backgrounds wh

[2016-11-19 11:48] ponyatov opened #4740 "[Kivy Launcher] app install/update by http(s) from external website (https:// for github required)"
Please add to KL TODO (feature request) :
add update/reload function for application over http (and https:// for github required)
to make apps install/update directly from smartphone by entering app url

[2016-11-19 12:22] KeyWeeUsr commented on #4740
This is a wrong repo, Kivy Launcher is in [p4a](https://github.com/kivy/python-for-android). To run an app via launcher you have to manually put a folder with your app into `sdcard/kivy`.

There seems to be no plans of implementing copying code from random archives placed in phone storage, nor making it possible through internet, therefore the only way how to do it is the standard [manual way](pyt

[2016-11-19 12:22] #4740 closed

[2016-11-19 13:19] cangelis commented on #4662
Try increasing the GPU memory. You can edit `/boot/config.txt` and append `gpu_mem=256`. More information [here](http://raspberrypi.stackexchange.com/questions/673/what-is-the-optimum-split-of-main-versus-gpu-memory)

[2016-11-19 14:28] laerus commented on #4278
i get the same in virtualenv under debian-testing, python3.5, kivy master
(installed all related dependencies)
[code]

[2016-11-19 16:09] Leva7 opened #4741 "TextInput rendering certain characters as boxes"
There is a certain set of Unicode characters that are rendered as boxes in the `TextInput`.
What I mean is that although the characters are included in the font and don't seem to have much of a difference from other (letters and stuff like that), their texture is not shown in `TextInput` and `Label` widgets. The characters that were used in the test are emojis in range `0x1F600`-`0x1F61F`

Here ar

[2016-11-19 17:28] KeyWeeUsr commented on #4741
Finally! I was finally able to reproduce the same inserting of the emoji I did before with the same font you have.

the first up-left emoji character is displayed hm... not exactly as you'd expect, but as I [mentioned](http://stackoverflow.com/questions/40002196/kivy-textinput-not-rendering-some-characters-in-the-font#comment67318599_40002196). However I'm sorry to tell that the rest of emojis don

[2016-11-19 17:39] Leva7 commented on #4741
@KeyWeeUsr no, this character is displayed as expected. In Unicode, there are two emojis (or more, idk) that are not part of the main emoji range (link [here](http://unicode.org/emoji/charts/full-emoji-list.html)). And apparently these characters are not in the "set" that I've mentioned so they are displayed both in your Android and in my PC.
I assume this issue could have something to do with the

[2016-11-19 21:15] Zen-CODE commented on #4736
Looking into that code, it seems easy enough to fix, but I don't see any suggestion text using 1.9.2dev? It all executes without error, but all I see is the white textbox and what I type?

[2016-11-20 02:52] xeroxyde commented on #4731
I have more insight on the problem. It is definitly caused by a conflict between Kwin and the SDL library.
I've installed PySDL2 to develop the UI framework I need. And when I tested a simple code snippet, I had exactly the same issues I had with Kivy.

[2016-11-20 12:14] laerus opened #4742 "Kivy on debian-testing under python3 not working"
debian-testing, python3.5.2, no pygame, GNOME Shell 3.22.2

following the [instructions](https://kivy.org/docs/installation/installation-linux.html#debian-jessie-or-newer) tried to install from stable repo:
[code]
same for daily repo under python3

i've managed to install daily kivy build on python2
then tried to run a kivy app:
[code]

notes:
gnome doesn't seem to be under X11 anymore,

i've trie

[2016-11-20 16:15] 631068264 opened #4743 "Can't install kivy with Python2 on OSX"
[code]

[2016-11-20 16:18] #4743 closed

[2016-11-20 16:20] TimSC opened #4744 "Multiprocessing opens unwanted windows (on windows only, pyinstaller)"
I am trying to using multiprocessing with kivy. It works fine on linux, but on windows I had to put the kivy imports within the "__name__ == '__main__'" section, otherwise it tends to open more blank windows, which I don't want. Is this the best approach?

My problem is that when I package this using pyinstaller, the above work around is not effective and the program keeps spawning new windows. (I

[2016-11-20 18:12] dessant commented on #4733
Please share a small sample app which reproduces your issue, and the resulting logs. A good template can be found here: https://github.com/kivy/kivy/wiki/community-guidelines

[2016-11-20 18:50] picibucor opened #4746 "listening keys and fullscreen on second monitor"
I have two monitors. If I run my project it appears on the main monitor. I can resize the window and make it full-screen by:
--> clicking on the full-screen button in the upper-right corner
--> pulling it to the top of the screen

As usual for Microsoft-Windows.

But this changes if I pull my App in the second window. By clicking on the full-screen icon, or pulling it to the top i will get the fol

[2016-11-21 00:00] janssen commented on #4736
And this one crashes, too:

[code]

[2016-11-21 09:00] dgym commented on #4469
Some updates, but sadly no progress:

I was looking into Chrome support, but although I got a simple Python+SDL2 small enough to run I have had no such luck when adding Kivy. I have also tried using Emscripten's dynamic linked library support to split things up but without success so far.

I have found some build flags that reduce the js file size from ~40MB to ~30MB, unfortunately at the cost of

[2016-11-21 10:37] laerus commented on #4742
running with nvidia drivers, any chance this is the root of the problem?

[2016-11-22 12:39] laerus commented on #4742
This seems to be a debian nvidia drivers problem, i returned to nouveau and the last bug doesn't show up. Still though, kivy cannot install under python3.5 on debian-tesitng and that's the only version of python3.

[2016-11-22 21:44] Taki7o7 opened #4748 "AttributeError when calling a function"
i am new to programming and kivy

I can't bind any function to buttons.

If i press an Button bind to all_on() function i get an error

AttributeError: 'WagipiApp' object has no attribute 'all_on'

Here are my files: https://github.com/Taki7o7/wagipi

Could somebody tell me what i am doing wrong?

Thanks all who wants help me ^^ greez

[2016-11-22 22:11] #4748 closed

[2016-11-23 12:48] laerus commented on #4742
it's not an nvidia problem, after installing some pkg the problem started appearing again, it  has something to do with libx11 related packages or how kivy searches for a window provider. This is an issue on kivy side.

[2016-11-23 13:30] WGierke opened #4750 "Sklearn: _check_build.so is 64-bit instead of 32-bit"
Hi everyone,
I really like this project and admire you for implementing it!
I'd like to develop an Android app that uses a library (whereami) that depends on sklearn.
Obviously, sklearn is built with 64-bit instead of the required 32-bit:
[code]
I'm using `buildozer android debug deploy run` to deploy and run it on my Nexus 5X. Tell me if you also need the `buildozer.spec` file.
Do you have any ex

[2016-11-23 13:42] KeyWeeUsr commented on #4750
@WGierke Please move it to kivy/python-for-android, this repo is only the core. `scikit-learn` [requires `scipy`](https://github.com/scikit-learn/scikit-learn/blob/master/setup.py), there's no recipe, but there are [suggestions](https://github.com/kivy/python-for-android/issues/874) of how to make it.

[2016-11-23 13:42] #4750 closed

[2016-11-23 14:32] laerus commented on #4742
also kivy managed to segfault on Weston.

[2016-11-23 20:32] Zen-CODE commented on #4736
So, I would like to kill this issue, but I'm not even 100% what this feature does? Do you have screenshots of how it should look? It does nothing for me even if I remove that error....

[2016-11-23 21:56] Deerenaros commented on #4744
I think that this behaviour is due to multiprocessing architecture. While you "create thread" you do not create thread, you starting second python interpreter which connected to first with some pipe, socket or shared memory magic. Becouse GIL you have no better way to fully load cpu in python, so only way to fix is  to check thread and pass creating second window.

And, i think, that it could be s

[2016-11-23 21:59] Zen-CODE commented on #4744
This is not so much an issue, but a documented feature.

https://kivy.org/docs/api-kivy.core.window.html

Each kivy app has their own window, and you are starting another app. Just make it pure Python (not a kivy app) if you don't want the window? Note that multiprocessing is not available in iOS,

[2016-11-23 23:55] TimSC commented on #4744
@Deerenaros your code looks good. I'm not sure why I didn't use that approach. How do I skip creating the window? I notice there is a configuration option in graphics called window_state. In any case, pyinstaller seems to have a different behaviour than running it directly in python.

@Zen-CODE Is it possible not to start another app in the second process? I only need kivy in the main process. I t

[2016-11-24 06:25] Zen-CODE commented on #4744
Hmm. If you don't import anythin from kivy, not sure why it's creating a new one. Could you post a runnable example? The one above will still import kivy for each process....

[2016-11-24 10:12] Deerenaros commented on #4744
@TimSC Yeah, may be pyinstaller using more magic but i can not imagine how importing or class definition may create second window.

[2016-11-24 11:55] Zen-CODE commented on #4744
@Deerenaros. Importing executes the code in a python file. Some of the kivy widgets and libraries import the Window for metric calculations and binding which then needs to create an actual window to get accurate information. It's built as a GUI framework after all. Thus each process that imports kivy modules will create a window.

If you're still curious, you can try importing widget subclass and

[2016-11-24 11:59] KeyWeeUsr commented on #4744
@Zen-CODE if only imports are the problem, he can "fix" them like we fix documentation for unwanted imports:

    import os
    if 'something' not in os.environ:
        import window here

therefore it might be possible to skip that part. Yet I don't see this thing fixing the issue (more work to do) + as said, some platforms might not support multiprocessing.

[2016-11-24 13:08] Deerenaros commented on #4744
@Zen-CODE This is bad idea to open window by import cause hard to control. If kivy follow this flow that mean no option except drop great framework due to architecture issues.

[2016-11-24 13:24] Zen-CODE commented on #4744
@Deerenaros. It's very easy to make judgements out of ignorance. It is done for a reason. Do you know why? How about understanding why it's done, then suggesting better approaches? We are open to pull pull requests and suggestions :-)

ps. Kivy is  GUI provider that runs in a window by definition. Seems strange to suggest creating a window indicates an architectural shortcoming.

[2016-11-24 13:38] TimSC commented on #4744
@Zen-CODE if kivy does not work with common python modules due to import restrictions, they I think its fair to say its at architectural limitation. I'd expect it would be done in the App constructor, but that would just be my naive guess.

[2016-11-24 14:30] Zen-CODE commented on #4744
@TimsSC. It does work with common python modules, and you can definitely use some parts of Kivy without creating a window, but importing certain things does create a window.

But look, I can't pretend to be an expert here and am just speaking off the top of my head. I just know an App requires a Window and I've seen other imports initialize a window, but that was not a problem for us so never inve

[2016-11-24 19:03] TimSC commented on #4744
@Zen-CODE I am having problems using kivy with multiprocessing within pyinstaller. This arguably a pyinstaller problem but it could be a kivy architectural issue. I hope that specific enough to dig a little deeper. I will try to explore the import behavior some more...

[2016-11-24 19:20] Zen-CODE commented on #4744
Is this specifically with the windows package? Is it a kivy window that opens or a terminal (command prompt)? Remember, on windows, Python has two executables: python.exe (command prompt) and pythonw.exe (windowless). Perhaps the PyInstaller builds the command prompt window? I recall you can specify that somewhere.

What you could do is use process explorer to inspect the window properties. The cl

[2016-11-24 22:37] KeyWeeUsr commented on #4730
Found it! @tshirtman 's commit broke the clicking somehow 🌵 https://github.com/kivy/kivy/commit/7925e9db1e52a731333e1d1a435d9a9c3a59d91f

[2016-11-25 08:25] TimSC commented on #4744
As far as I can tell, they are opengl windows rather than command terminals.

![screenshot at 2016-11-25 08-14-47](https://cloud.githubusercontent.com/assets/995844/20618704/8884aad8-b2e8-11e6-9f85-2dab400ef241.png)

[2016-11-25 10:10] Zen-CODE commented on #4744
Yes, those are errors because you do not have OpenGL 2 working. You need to get that working before Kivy will work. Have you installed the VirtualBox additions?

[2016-11-25 10:39] visued commented on #4398
I have the same issue in android 6.0.

[2016-11-25 11:40] TimSC commented on #4744
Kivy works in my Windows 7 virtualbox, even when run inside of pyinstaller (but without multiprocessing).

[2016-11-25 12:03] TimSC commented on #4744
I have a working version in windows/pyinstaller. I found calling freeze_support() must be before the kivy imports but after the second process's entry point (MyFunc in this case). This work around is good enough for me but it is rather hard to discover!

	import multiprocessing, time
	import future
	from queue import Empty

	def MyFunc(queue, queue2):
		count = 0
		running = True
		while running:

[2016-11-25 13:58] Zen-CODE commented on #4744
Okay, so it's a known issue with Windows.

http://stackoverflow.com/questions/13922597/multiprocessing-freeze-support#18195951

That would seem to imply that it's not really a Kivy issue? Can we close the ticket then?

It's perhaps something we should add to the docs, but then again, it seems that's more a Python side concern than Kivy one. Where could we add that? Will look into that and see if t

[2016-11-25 14:02] TimSC commented on #4744
I still think that kivy is acting in a non-standard fashion, requiring special measures to be taken to operate with common python components (multiprocessing and pyinstaller). You can close the bug though. :)

[2016-11-25 14:16] Zen-CODE commented on #4744
I think one would need to understand/demonstrate the underlying cause before attributing blame. As you mention, it works fine on linux and the freeze thing is a known Windows issue. It happens with all/many python apps. So why blame Kivy?

In what way does kivy "behave in a non-standard" fashion? We can't really deduce that from the above issues. The order of imports is known to be important becau

[2016-11-25 14:16] #4744 closed

[2016-11-25 15:06] TimSC commented on #4744
@Zen-CODE The work around violates the PEP8 style guide: "Imports are always put at the top of the file, just after any module comments and docstrings, and before module globals and constants." This is necessary because kivy window initialization happens on an import (I think). Therefore it is a kivy issue. While I admit there could be reasons for doing it this way, I can only base my opinion on w

[2016-11-25 17:12] saqib1707 commented on #4719
This is the traceback of the error happening when one is trying to copy text from one field to another and app getting freezed after that. But  I am not able to find this file jnius/jnius_export_class.pxi

`11-25 16:31:13.479 12089 12089 I python  :  Traceback (most recent call last):
11-25 16:31:13.480 12089 12089 I python  :    File "/home/saqib1707/kivy/myapp/bubble_testing/.buildozer/android/p

[2016-11-25 17:36] Zen-CODE commented on #4744
To be clear, the problem is not caused by kivy creating a window. If you read the reply in the link below, it because of the way windows creates processes. This is beyond Kivy's control.

http://stackoverflow.com/questions/13922597/multiprocessing-freeze-support#18195951
So let's carry on the discussion (as it's quite interesting and important to address), but understand it;s more for the sake of

[2016-11-25 18:11] TimSC commented on #4744
I see that there is a case for simplicity. However, neither pygame or PySDL2 takes this approach. Both have a distinct init function ("sdl2.ext.init()" or "pygame.init()").

An automatically initialized singleton is basically a global variable. Perhaps this approach was influenced by OpenGL usually requiring global variables in some form or another.

[2016-11-25 19:02] Zen-CODE commented on #4744
Why should everyone have the same approach? :-) Different goals, different use case, different choices.  I think in the case of kivy it makes more sense (as is arguably more pythonic) to have some  instantiation implicit (not all, of course). Having to call an init() somewhere only make it more opaque, error prone and open to abuse. Why would you want to care if it can just work?

It's also probab

[2016-11-25 20:33] hackalog opened #4752 "Line ends are not drawn correctly on canvas"
My line ends seem to be less than 100% of a circle if I draw a line anywhere towards the left.

e.g.
<img width="237" alt="line_ends_bug" src="https://cloud.githubusercontent.com/assets/11911411/20634764/464bd8b4-b322-11e6-8a38-8a1d7a0bac19.png">

This is on macos (retina),

Simple reproducer below:
[code]

[2016-11-25 20:59] TimSC commented on #4744
@Zen-CODE I'm afraid you are just being obtuse now. If I point out how this contradicts what you said above, you are just going to come back with more quibbles and pedantic objections. Being defensive about architecture is just going to put off improving it.

[2016-11-26 06:17] saqib1707 commented on #4752
@hackalog  On trying to reproduce I got this traceback..Basically there is no Builder class defined inside ..kivy/lang/builder.py

``Traceback` (most recent call last):
   File "test.py", line 3, in <module>
     from kivy.lang.builder import Builder
 ImportError: No module named builder`

[2016-11-26 06:40] Zen-CODE commented on #4744
:-) I'm try to point out the that implying bad design is meaningless with a concrete example. Asserting principles without considering context is a simplistic approach to solving problems. Which is what we want to do.

So, what we need is a concrete example exhibiting a design flaw. What exact import do you object to? It's also important to me that kivy does the 'correct' thing, so show us where w

[2016-11-26 08:17] KeyWeeUsr commented on #4752
@saqib1707 No problem with that code for me. Check if you have Kivy installed properly or try to make it `from kivy.lang import Builder` only.

[2016-11-26 08:19] saqib1707 commented on #4752
Thanks @KeyWeeUsr .Its working .

[2016-11-26 16:25] akshayaurora commented on #4736
@Zen-CODE following is a example of how suggestion_text is supposed to work.

https://gist.github.com/akshayaurora/fa5a68980af585e355668e5adce5f98b

You really are not supposed to use suggestion before the UI is setup, it does not make sense to have a suggestion even before the user has started to type.

I could add a Clock.schedule in the core code to work around this, but this in my opinion is r

[2016-11-26 16:34] 700brains commented on #4752
Hi friend why does my app crashes whenever I initialize it(start it)
meanwhile am running it in root directory

On Saturday, November 26, 2016, Peter Badida <notifications@github.com>
wrote:

[2016-11-26 16:38] 700brains commented on #4752
Everytime I tried starting my kivy app it crashes automatically. Am running
it in a root  directory

On Saturday, November 26, 2016, Peter Badida <notifications@github.com>
wrote:

[2016-11-26 18:51] Zen-CODE commented on #4736
Well, it's not documented, so users won't know this. As long as it's explained, I think that will be fine? Will look into that shortly.

Thanks

[2016-11-26 20:14] saqib1707 commented on #4752
@700brains   try to make it **from kivy.lang import Builder **only.

[2016-11-26 20:20] xeroxyde commented on #4731
Hello I'm back  and my problem is fixed. I'm not sure why it worked, but here is what I did.
I search and deleted every instances of the SDL library and I've reinstalled only what I needed. That's all...
Off every files I've deleted, I only haven't reinstalled the 32 bit version of the library. I guess this issue was somehow coming from them.
Anyway, thanks for your help.

[2016-11-26 20:20] #4731 closed

[2016-11-26 20:21] akshayaurora commented on #4731
If the issue is only while going full screen. could you check disabling composition when apps go fullscreen? KDE has a option for this .

[2016-11-26 20:23] xeroxyde commented on #4731
No matter the display state, there was still the issue. But its completely fixed now.

[2016-11-26 20:30] Zen-CODE commented on #4731
For my 2c, this turned out to be a false alarm for me. My kwin crashes regularly on mint 18 :-( Not related to kivy.

[2016-11-27 00:36] janssen commented on #4736
Well, if you could add a flag to a Widget so that it would know whether the "UI is set up", it would certainly help.  Right now, though, there's no systematic way to know what the "UI set up" state of a Widget is, from inside the widget.  One has to kind of guess.  A programmer error?  Or just a bad guess?

For instance, should I be able to bind to changes in "suggestion_text", as shown in my cras

[2016-11-27 09:48] Zen-CODE commented on #4736
The error can easily be avoid by adding placing a check at line 2844 of TextInput.py, in 'on_suggestion_text':

        if self.canvas is not None:
            self._update_graphics()

This prevents the error, but it's still pretty pointless as no suggestion text appears. I think it's important here to establish exactly how the 'suggestion_text' should work, then the implementation should follow.

[2016-11-27 12:13] saqib1707 commented on #4727
@udiboy1209  In  https://github.com/kivy/kivy/blob/master/kivy/core/image/__init__.py#L843
Removing the 'not' in this line solves the error since if data.fmt is not in ('rgba' , 'rgb') then it has to invoke self.populate() to convert it to rgba format.

[2016-11-27 19:01] 700brains commented on #4752
Please bro/sis can you elaborate am zero to kivy framework
Just Give me an example on how?
And again running with **sudo** like sudo buildozer android debug is it
advisable to run with sudo. Can't wait to hear from you!

On Saturday, November 26, 2016, Saqib Azim <notifications@github.com> wrote:

[2016-11-27 19:31] KeyWeeUsr commented on #4752
@700brains This is not a chat, please target beginner questions to IRC, mailing list or some other site supporting it clearly visible [here](https://kivy.org/#support).

The repository is specifically for code and issues related to it, not a Q&A website.

[2016-11-27 19:34] 700brains commented on #4752
Pls when I run it on my Ubuntu it went OK but after I compiled it to an apk
file and run on my tecno p9 it crashes. This is just a Hello world program
ignore the too much import I did will use it later

On Saturday, November 26, 2016, Saqib Azim <notifications@github.com> wrote:

[2016-11-27 19:48] akshayaurora commented on #4736
Agreed.

[2016-11-27 19:55] akshayaurora commented on #4719
This is using the new toolchain ?

[2016-11-28 09:24] Zen-CODE commented on #4719
Also, could you perhaps give and exact example of markup you are pasting in? Does it work with plain text? This is confusing as the TextInput does not support markup? Example code would be 1st prize :-)

[2016-11-28 10:55] akshayaurora commented on #4719
@Zen-CODE I think in this context `markup` == `select`

[2016-11-28 15:50] saqib1707 commented on #4719
@akshayaurora No, this is the **adb logcat**  error happening on the android when one tries to copy/paste text from/to a textinput box.

[2016-11-28 16:18] udiboy1209 commented on #4727
@saqib1707 nice catch! Why don't you make a pull request with that change and add a test here https://github.com/kivy/kivy/blob/master/kivy/tests/test_image.py for testing the save function!

[2016-11-28 17:36] janssen commented on #4736
Agreed.

[2016-11-29 04:17] #3491 closed

[2016-11-29 04:17] #3897 closed

[2016-11-29 09:11] akshayaurora commented on #4719
@saqib1707 how did you build your apk ? using the new toolchain or the older one?

[2016-11-29 09:14] saqib1707 commented on #4719
I guess the older one.since I haven't used much of the new toolchain. But what's the difference if I build my apk using new or old since its just an app apk file which should be the same I guess.

[2016-11-29 09:34] udiboy1209 commented on #4719
@saqib1707 I think what @akshayaurora is asking is did you build using the command `buildozer android` or `buildozer android_new`. If you used android_new, its the new toolchain and hence it will compile the apk differently.

[2016-11-29 14:35] saqib1707 commented on #4719
@akshayaurora Earlier I build my apk using old toolchain where this error was happening.But with the new toolchain its completely fine.

[2016-11-29 16:56] saqib1707 commented on #4672
@KeyWeeUsr one idea would be to place the bubble right or left of the touch when the touch is made directly under the top(when it becomes invisible).If this has to be done then I want to work on this issue.

[2016-11-29 17:02] KeyWeeUsr commented on #4672
Well, this is the current behavior. The right thing would most likely be to check for the collisions with outer bonds of TextInput and threw the Bubble the other way. I saw some code related to it, maybe it's just still not done or something.

[2016-11-29 20:53] Zen-CODE commented on #4736
Okay. So this branch fixes the errors.

https://github.com/kivy/kivy/compare/suggestion_text_tweak

But it still does not make it work as expected. The texture is only created and added when the suggestion text changes, but then it seems removed. The original intention to only show it in response to changes reflects in the way it's built. I'll look into tweaking that so it handles static values mo

[2016-11-29 22:03] Zen-CODE commented on #4736
Latest commits on the above branch implement the discussed behavior. The link below shows revised code from akshays example.

https://gist.github.com/Zen-CODE/650099bd55247223986928f12df42176

I think this more predictable behavior. The only gotcha is that it does now show when there is no text. An issue? I think 'text_hint' does that, so I doubt it. Either way, it avoids errors and behaves more p

[2016-11-29 22:05] akshayaurora commented on #4719
closing this as all development has moved onto new toolchain.

[2016-11-29 22:05] #4719 closed

[2016-11-29 22:16] akshayaurora commented on #4736
@Zen-CODE do not add a function call like this. this will slow down the update graphics function.

Besides the change has to be on on_suggestion_text just like with every other property.

[2016-11-30 08:48] saqib1707 commented on #4672
@KeyWeeUsr On long touch anywhere on the textinput box it only shows (select_all ,paste) bubble instead of (cut,copy,paste) . whereas in long_touch() function in textinput.py it invokes _show_cut_copy_paste(). I have used use_bubble=True. Why is this happening ? Also the (select_all , paste) bubble is non-functioning i.e it doesn't selects or pastes anything.

[2016-11-30 10:54] KeyWeeUsr commented on #4672
Yep, seems like it's broken in master. Open another issue if there's not a duplicate if you arenlt going to fix it, because it worked before. Also, the buttons (Select all) don't work too. I wonder why.

Re the right click: Nope, Kivy doesn't use the right click by default. The right click just creates another "touch", e.g. for simulation of multitouch on desktops. If you're trying to do long tap,

[2016-11-30 16:38] saqib1707 commented on #4672
@KeyWeeUsr I am working on this issue.I found out that the "pos" on this line https://github.com/kivy/kivy/blob/master/kivy/uix/textinput.py#L1565 should be the absolute position with respect to the window that is in line 1267 , the argument relative should be 'False'. Otherwise the bubble wouldn't come down the touch point when user clicks near the top.
Also can u please explain what is  the role

[2016-12-01 15:10] saqib1707 commented on #4672
@KeyWeeUsr I was trying to figure out the reason but unable to find till now.Do u have any idea why in android the select_all and paste options are  not responding ?

[2016-12-01 15:46] KeyWeeUsr commented on #4672
I'm not sure, but the bubblebutton calls `do(self  action)` method. Or should at least. Try to check that and methods that are called from the `do()`.

[2016-12-01 19:06] yaki29 commented on #254
When gif is included it takes too long to start the application and moreover the gif doesn't play at it's original speed and some of the gifs on cycle completion reruns back with background screen shown once.
Is there some built in function for it in kivy or is there any method to solve this problem.

[2016-12-01 19:19] akshayaurora commented on #254
make sure you have Pillow installed otherwise the loading of gif would be slow

[2016-12-01 20:04] yaki29 commented on #254
I use Ubuntu 15.04 it already has Pillow installed.
It is showing "Requirement already satisfied (use --upgrade to upgrade): Pillow in /usr/lib/python2.7/dist-packages" on entering "pip install Pillow".
But still it hangs.

[2016-12-01 20:41] hottwaj opened #4756 "Modal Dialog: issues with touches active before dialog opened"
Hi guys, some slightly odd things are possible when a dialog is opened, if you hold down a touch in the meantime.

Example 1 (more problematic):
1. press a button, keep your finger held down (don't release touch)
2. press another button that opens a modal dialog
3. release touch from 1 - the action of the first button is now triggered even though a modal dialog is open.

Example 2 (weird but not a

[2016-12-01 20:54] hottwaj opened #4757 "Builder.load_string: text markup parsing error"
The following kv lang can be parsed in a .kv file, but causes Builder.load_string() to crash.

[code]

The issue seems to be the preceding "\n" in the string, as removing that makes Builder.load_string happy.

Cheers

[2016-12-01 21:31] KeyWeeUsr commented on #4757
Kv lang parser handles the `.kv` file as plaintext/string, therefore to get `\n` as a value for `text` property you'll need to escape it with another backslash -> `\\n`, otherwise it'll be handled as this:

    <TestLabel>:
        text: '
    [size=13sp]meh[/size]'

and as the parser goes line-by-line, it'll crash, because it expects some value to assign to `text` property, yet it gets something

[2016-12-01 21:31] #4757 closed

[2016-12-01 21:40] hottwaj commented on #4757
Ah I see - silly mistake.  Thanks

On 1 December 2016 at 21:31, Peter Badida <notifications@github.com> wrote:

[2016-12-01 23:27] KeyWeeUsr commented on #4756
Re Example 1: Kivy is multitouch, such thing should be possible and desired.

Re Example 2: Not sure what the _"list"_ is, but I think it's probably the same answer as for Example 1 - multitouch support.

A workaround for that might be editing a part of your `config.ini` file in `<user>/.kivy/config.ini` like this:

[code]

[2016-12-01 23:27] #4756 closed

[2016-12-01 23:53] saqib1707 commented on #4672
@KeyWeeUsr  I think there is nothing defined for the finger options here https://github.com/kivy/kivy/blob/master/kivy/core/window/window_sdl2.py#L418 and also there is no information dispatching when finger or touch on textinput is done.

[2016-12-02 00:05] KeyWeeUsr commented on #4672
The button reacts to pressing, just the function isn't called(me, sdl2 bootstrap, p4a&kivy master). The sdl2 thingy is something different 😋 if there was no touch when you'd tap in the `TextInput`, it wouldn't even focus. The touch surely works as expected.

[2016-12-02 10:16] akshayaurora commented on #254
Try to run your program like this::

KIVY_IMAGE=pil,sdl2 python main.py

See if this solves your issue.

On Fri, Dec 2, 2016 at 1:34 AM, Yash Jain <notifications@github.com> wrote:

[2016-12-02 11:35] akshayaurora commented on #4672
could you please test with setting always_release to false in button behavior? does that seem to fix the issue for you?

[2016-12-02 11:37] selstos commented on #2379
Hi! How to change color  of text in button?

[2016-12-02 13:40] SynedraAcus opened #4759 "Installation from stable repository doesn't include kivy.tools"
When kivy is installed via `sudo apt-get install python3-kivy`, the installation is missing kivy.tools, thus crashing when I try to build a linux distro for my project. Otherwise it's working kivy1.9.1 installation with which I've succesfully developed software. I've used python3.4 and stable repository at `ppa:kivy-team/kivy`.
I've fixed the problem by removing python3-kivy package and installing

[2016-12-02 13:54] saqib1707 commented on #4672
@KeyWeeUsr  which function are u talking about here?

[2016-12-02 14:42] KeyWeeUsr commented on #4672
@saqib1707 https://github.com/kivy/kivy/blob/master/kivy/uix/textinput.py#L361 is the function that is dispatched `on_release` of the `BubbleButton`, it should call e.g. [select_all](https://github.com/kivy/kivy/blob/master/kivy/uix/textinput.py#L371) but somehow doesn't. Either `do()` isn't dispatched, or `select_all` called.

I see the `BubbleButton` changing itself (image), casual `Button` disp

[2016-12-02 16:37] saqib1707 commented on #4672
@akshayaurora perfectly works on both android as well as laptop on setting **always_release=True.**

[2016-12-02 18:02] KeyWeeUsr commented on #4759
I think it's similar to the wheels, where I too don't see kivy.tools. At least not everything from the repo.

[2016-12-02 18:08] akshayaurora commented on #4672
@dessant fallout from setting always_release = False by default

[2016-12-02 18:16] saqib1707 commented on #4672
@KeyWeeUsr the bubble previously was not coming to the opposite side (with arrow up) when touch is made near the top ,so I have made certain changes in line 1597,1606 and 1615 and It is working as expected. Also there is a confusion that the touch **pos** arguments that is provided to _show_cut_copy_paste is relative or absolute position.because in one call it was absolute position in line https:/

[2016-12-02 18:19] yaki29 commented on #254
@akshayaurora It worked and even application gif didn't restart ... but they still run slower than when we run them through some image viewer. Could you please help me out in this as well.

[2016-12-02 18:39] akshayaurora commented on #254
you can try setting `anim_delay` to your specific needed interval.

[2016-12-02 18:45] yaki29 commented on #254
It worked .... Thanks for your help

[2016-12-03 00:18] KeyWeeUsr commented on #4672
@saqib1707 I think `touch` always returns a correct pos in the Window (absolute), not in the widget (relative?). Please make a PR if you can, contributions are always nice. 🍡

@akshayaurora I don't think `always_release` is the issue here, although it fixes it. Why doesn't it fire? I presume touch is at the same position, right? Therefore it should work even with `always_release=False`, because th

[2016-12-03 06:50] saqib1707 commented on #4672
#4761

[2016-12-03 12:39] Zen-CODE commented on #4736
Okay, this just adds enough to prevent the error: https://github.com/kivy/kivy/pull/4762

But it's still does not behave well, to my mind. It does not appear if the text is empty, or when set initially, and the words disappear erratically using the gist I posted above. I'll look into that but it's not obvious how to achieve the desired behavior given it's current implementation.

Is a function cal

[2016-12-03 16:17] tshirtman commented on #4746
i can reproduce the same crash on linux (i3, trying to make the app fullscreen)

[2016-12-03 16:42] tshirtman commented on #4746
the `request_keyboard` signature is (self, callback, target, input_type="text") here, you passed `self` (so the App object), as target. But the documentation says that `target` should be a `Widget`. if change the code to:

        keyboard = Window.request_keyboard(self._keyboard_released, self.root)

Then it works…

[2016-12-03 16:42] #4746 closed

[2016-12-04 07:55] saqib1707 commented on #4605
Can we have keyboard in kivy applications that has word-predictions feature by not using system keyboard and some other software keyboard ?

[2016-12-04 18:45] nitzanel commented on #4475
Seems like something simple for beginners. Ill try to do it.

[2016-12-04 19:21] dessant opened #4764 "'xclip' not listed among kivy dependencies on raspbian JESSIE"
_From @biank88 on June 3, 2016 10:53_

If I install kivy following the instructions on [kivy-website](https://kivy.org/docs/installation/installation-rpi.html) I get this error running showcase.py:

[code]

I think 'xclip' should be mentioned among kivy dependencies.
##

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/34832490-xclip-n

[2016-12-04 19:21] dessant commented on #4764
_From @thopiekar on June 3, 2016 11:27_

Thats correct but you have to report that to the package maintainer. If you were using Ubuntu+PPA then you can expect that I would fix that quickly 😉

[2016-12-04 19:24] dessant opened #4765 "Broken link to sign Android apks"
_From @rolfschr on May 20, 2016 9:14_

In this section:

https://kivy.org/docs/guide/packaging-android.html#release-on-the-market

the link to sign apps is broken. I imagine it should have been this:

https://developer.android.com/studio/publish/app-signing.html#signing-manually

??
## <bountysource-plugin>

Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/3441

[2016-12-04 19:34] dessant opened #4766 "Broken Fedora Download Links"
_From @ScriptGadget on February 5, 2015 19:19_

The links for fedora repos on the page at http://kivy.org/#download seem to be broken?
There are no directories for 16,17 or 18 in: http://download.opensuse.org/repositories/home:/thopiekar:/kivy/

I do see a Fedora_20 directory and some CentOS and RHEL directories that might be nice to show on the download page as if they are ready for use.
##

<bou

[2016-12-04 19:34] dessant commented on #4766
@thopiekar ping.

[2016-12-04 19:43] thopiekar commented on #4766
Thanks @dessant. I wonder that my OBS repository is still listed.
I remember that there was a repository by Python developers of OpenSuSE who provided builds for Fedora, etc. and we've switched to them.
I'll take a look on that.

[2016-12-04 19:49] thopiekar commented on #4766
Hmm, looks like there are no builds for other distributions.
Do you know of people, who are hosting Fedora packages in their own repositories?

I personally think it needs someone here, who is at least using a RPM based distribution on her/his own.
I sadly use Ubuntu/Debian here...

PS: The OpenSuSE list needs likely an update: https://software.opensuse.org/package/python-Kivy

[2016-12-04 19:56] dessant commented on #4766
You were my only candidate. 😋

[2016-12-04 20:21] thopiekar commented on #4766
Hmm, that's a problem then. It is nowadays very easy to install kivy via pip. Shouldn't we recommend to install via pip in that case?

[2016-12-04 21:04] dessant commented on #1371
Kivy installation itself should ideally happen with a command, though it makes sense to have a box for a build env with the needed tools, let's track this at https://github.com/kivy/buildozer/issues/154.

[2016-12-04 21:04] #1371 closed

[2016-12-04 21:31] dessant commented on #4766
Yes, i'd favor that.

[2016-12-04 21:39] thopiekar commented on #4766
I could also copy the source packages into my own repository (looks like I've did that before), but I can't give any guarantee on quality of the resulting binary packages 😏

[2016-12-04 21:42] dessant commented on #4766
It's probably better to just remove them from the download page and docs and encourage using pip. Maybe on day we'll also have wheels for linux and that will take care of binary deps too.

[2016-12-04 22:53] frankgould opened #4767 "Linux Mint VM buildozer Label halign anomaly"
![screen-new1](https://cloud.githubusercontent.com/assets/11017534/20869848/da9ebd6e-ba49-11e6-9e22-aa421b32c28a.png)
![screen-new2](https://cloud.githubusercontent.com/assets/11017534/20869855/e956d6d4-ba49-11e6-8452-8d4e67569d76.png)
These two pictures show how the Label text is misaligned when compiled on Linux Mint although using the same code compiled with OSX, the displays appear as the othe

[2016-12-04 22:57] dessant commented on #4767
Quite possibly the two devices use different text providers, or kivy versions. Share an example app with the relevant label, and debug logs from both devices.

[2016-12-04 23:02] frankgould commented on #4767
Thanks dessant. I'll have to research that when I can compile again on OSX. I'm waiting for an issue resolution below to get the log.

https://github.com/kivy/python-for-android/issues/924

[2016-12-04 23:42] derekbrokeit opened #4768 "Failure to play h264 video stream using VideoGstplayer"
I am bringing this issue from [stackoverflow](http://stackoverflow.com/questions/40943456/play-live-h264-encoded-video-rtsp-stream-using-kivy) because I found the issue-tracker.

I have a c++ program that uses `live555` in a winapi kernel event-loop that passes images from a camera to `libopenh264` and then served as an RTSP stream using `ffmpeg`.  The stream can be viewed fine using `VLC`. The ev

[2016-12-05 00:06] derekbrokeit commented on #4768
Just to add another data point. I tried this using a purely python implementation (`examples\widgets\videoplayer.py`) and found the same results. Although, in this case, using the h264 stream actually crashed the program. On the bright side, an MJPEG stream plays after a few seconds.

**Side Note:*** It is also somewhat surprising to see the additional widgets (stop/play, audio, loading) when runn

[2016-12-05 00:32] #4733 closed

[2016-12-05 02:00] Tungsteno74 opened #4769 "JNI ERROR (app bug): local reference table overflow (max=512)"
kivy _1.9.2dev0_
android.api = _19_
android.minapi = _13_
android.sdk = _20_
android.ndk = _9c_

built with:
buildozer _0.33dev_
target _android_new_

tested on _Android 4.4.2_

The error part log:
[code]

Full log:
https://goo.gl/TLMiIg

The app crash immediately after the loading screen (or while loading?).
Several commits ago all work well (i tested it on summer with the same target).
The app r

[2016-12-05 18:00] saqib1707 commented on #4672
@KeyWeeUsr I just realised now that if a textinput is at the bottom (in android or ios) , then once the keyboard comes up it completely or partially hides the textinput. So to avoid that , will it be better to change the **softinput_mode = below_target** in the  kivy/core/__init__.py file ?

[2016-12-05 18:35] KeyWeeUsr commented on #4672
@saqib1707 I know about the issue, but I'm not sure what to do. I think an optimal thing would be either to resize everything properly or to just move everything (root widget) at `pos = [previous X pos, keyboard height]` if there is a way how to get the height of android/ios keyboard. I've seen both behaviors on android before, not sure how it works on ios.

[2016-12-06 05:37] saqib1707 commented on #4736
@Zen-CODE By desired behaviour , do u mean kind of feature present in sublime text(which shows a list of probable options for us to chose from). ? If yes then we can achieve using bubble option to show those probable options.

[2016-12-06 07:13] Tungsteno74 commented on #4769
After some research what i found is that  the main instance of the kivy app would seem that is instantiated in an endless loop until the JNI allocation space is saturated.
Is that correct? Someone can confirm that?

[2016-12-06 07:16] Tungsteno74 commented on #4769
I created a minimalistic application (containing only a few buttons), and seems to work without giving this problem. So, contrary to what I thought the problem could be in my application.

[2016-12-06 12:17] germn commented on #4702
[Here's](https://github.com/kivy/python-for-android/issues/951) more on current situation.

Video on Android in Kivy supports by old toolchain only.

I think it might be good idea to add this information to Kivy docs.

[2016-12-06 12:27] saqib1707 commented on #4514
Is this issue resolved since I am trying to reproduce but fortunately getting no error ? I am also on ubuntu 16.04 and python 2.7.12.

[2016-12-06 14:20] frankgould commented on #4428
I am getting the same results with python 2.7:

[INFO   ] [Logger      ] Record log in c:/users/frank gould/build/data/logs\mp-ss_16-12-06_0.txt
[INFO   ] [Kivy        ] v1.9.2-dev0
[INFO   ] [Python      ] v2.7.12 (v2.7.12:d33e0cf91556, Jun 27 2016, 15:19:22) [MSC v.1500 32 bit (Intel)]
 Traceback (most recent call last):
   File "main-test.py", line 1, in <module>
     from kivy.app import App

[2016-12-06 20:37] frankgould opened #4770 "[kivy dev 1.9.2] No module named 'kivy._clock'"
I found this page and realized later it was closed:  https://github.com/kivy/kivy/issues/4428

I am getting the same results with python 2.7:

python main-test.py
[INFO ] [Logger ] Record log in c:/users/frank gould/build/data/logs\mp-ss_16-12-06_0.txt
[INFO ] [Kivy ] v1.9.2-dev0
[INFO ] [Python ] v2.7.12 (v2.7.12:d33e0cf91556, Jun 27 2016, 15:19:22) [MSC v.1500 32 bit (Intel)]
Traceback (most rec

[2016-12-06 20:38] dessant commented on #4770
How was kivy installed?

[2016-12-06 20:43] frankgould commented on #4770
python -m pip install Kivy-1.9.2.dev0-cp27-none-win32.whl

[2016-12-06 20:48] KeyWeeUsr commented on #4770
@frankgould Try to download again from one of these [links](https://kivy.org/docs/installation/installation-windows.html#nightly-wheel-installation) and install again. I have no problem with them and the `Clock` is compiled successfully.

[2016-12-06 20:56] frankgould commented on #4770
I added --upgrade to the command above with the new night build I downloaded, per your suggestion. It appears to have changed the results to the following:

Traceback (most recent call last):
  File "main-test.py", line 1, in <module>
    from kivy.app import App
ImportError: No module named app

[2016-12-06 21:11] dessant commented on #4770
The --upgrade option should not have been added, that alone tainted the triaging process. So far this appears to not be a kivy bug, please visit #kivy on freenode if you need further help.

[2016-12-06 21:11] #4770 closed

[2016-12-07 07:40] Zen-CODE commented on #4736
@saqib1707. The suggestion_text currently holds only one piece of text, not a list of probably options. Sorry, I do';t use sublime text: that was a reference made in the example posted here:

https://gist.github.com/akshayaurora/fa5a68980af585e355668e5adce5f98b

[2016-12-07 10:33] akshayaurora commented on #4736
@Zen-CODE I will check @4762.

The main reason for adding this feature was to allow for IME specially on mobiles to display possible text that is currently being edited, while still is not actual part of the text.

[2016-12-07 12:32] saqib1707 commented on #4752
Just now I found out that the sangle=0 always and therefore https://github.com/kivy/kivy/blob/master/kivy/graphics/vertex_instructions_line.pxi#L564-L569 is  causing problems when the cap is square giving irregular line ends.Any idea how to solve this when cap='square' ?

[2016-12-07 13:20] frankgould opened #4773 "python -m pip install: IOError: [Errno 13] Permission denied"
When trying: python -m pip install docutils pygments pypiwin32 kivy.deps.sdl2 kivy.deps.glew

It returns the following error message:
IOError: [Errno 13] Permission denied: 'C:\\Python27\\Lib\\site-packages\\pywin32_system32\\pythoncom27.dll'

OS:  Windows 7

[2016-12-07 13:46] saqib1707 commented on #4773
May be you should try opening the command prompt in administrator mode to gain the root access.Then try the installation.

[2016-12-07 13:51] KeyWeeUsr commented on #4773
This is not a Kivy-related issue. Most likely it's just pip trying to access the file unsuccessfully or something. I experience it on Windows quite often and closing the related executables and/or running the command again fixes it.

[2016-12-07 13:51] #4773 closed

[2016-12-07 13:55] frankgould commented on #4773
Thank you KeyWeeUsr! I never thought to try it again. I'll use this advice going forward.

[2016-12-07 14:10] frankgould opened #4774 "python -m pip install k ivy.deps.gstreamer locks command prompt window & memory error"
I ran the command below:

It generated the following messages then locked up (couldn't CNTL-C or escape out of script):
[INFO   ] [Logger      ] Record log in c:/users/build/data/logs\mp-ss_16-12-07_1.txt
[INFO   ] [Kivy        ] v1.9.2-dev0
[INFO   ] [Python      ] v2.7.12 (v2.7.12:d33e0cf91556, Jun 27 2016, 15:19:22) [MSC v.1500 32 bit (Intel)]

Log file listed in message above contains the same

[2016-12-07 15:21] frankgould commented on #4774
I went to https://kivy.org/downloads/packages/simple/kivy-deps-gstreamer/
Downloaded the correct version. Then ran python -m pip install <downloaded .whl filename>
This worked and solved this memory problem as a workaround.

[2016-12-07 15:21] #4774 closed

[2016-12-07 15:24] bakwc commented on #2182
Have the same issue, workaround by @mvasilkov helped!

[2016-12-07 16:38] udiboy1209 commented on #4736
@akshayaurora @Zen-CODE just guessing here but shouldn't `self._lines` be initialized to one empty label initially? The root of this problem/race condition is that `on_suggestion_text` is trying to fetch the current text being typed from `self._lines[cursor_row]` which is an empty list initially, so even though `cursor_row==0` it fails. I feel that logically it should be initialized to a list havi

[2016-12-07 18:29] frankgould commented on #4767
I have successfully install kivy interpreter on Windows and am getting the same display results. I tried changing the halign value to left, right, and center but the text is still displaying in the same location. If I need to provide debug log, does that mean the kivy log? I'm assuming above is the buildozer build log needed for review. Below is the Label line I use to define both displayed on the

[2016-12-07 20:00] udiboy1209 commented on #4656
@jb1123 mind testing the PyPi package once again? I just tried it and kivy-1.9.1 works with SDL2 in a python2 and python3 virtualenv. The packages might have been updated/fixed.

[2016-12-07 20:23] seanroark commented on #4275
I have also ran into this problem. Any workaround available? I am not averse to using asyncio if its possible.

[2016-12-07 20:46] dessant commented on #4767
Yes, the log which you get after running the app.

[2016-12-07 21:08] frankgould opened #4775 "Interpreter stopped working"
I do not understand what happened to my kivy interpreter. Start of the day, I was getting the following error message:
  File "main.py", line 8, in <module>
    from kivy.app import App
ImportError: No module named app

Then I used the instruction on the link below to Download Kivy from GitHub:
$ git clone git://github.com/kivy/kivy.git
$ cd kivy
$ python setup.py build_ext --inplace -f

https://k

[2016-12-07 21:11] dessant commented on #4775
We have no idea what you did either, but please, use the issue tracker only for real bug reports, the mailing list and irc channel are for support questions.

https://github.com/kivy/kivy#support

[2016-12-07 21:11] #4775 closed

[2016-12-07 22:06] frankgould commented on #4775
I found out what caused the problem: running kivy.bat, it changed the PATH values. I guess this isn't a real bug?

[2016-12-07 22:10] dessant commented on #4775
`kivy.bat` is part of the portable package, which was deprecated.

[2016-12-08 00:02] KeyWeeUsr commented on #4775
@frankgould I wonder if you really used `kivy.bat` from Kivy `1.8.0` or from [KivyInstaller](https://github.com/KeyWeeUsr/KivyInstaller), because `1.8.0` is like the beginning of 2014.

[2016-12-08 06:45] saqib1707 commented on #4484
@dessant I think this feature (to be able to  unselect an item when multiselect=False ) has to be there if one doesn't wants to select anything.I am opening a PR for the same.

[2016-12-08 11:47] frankgould commented on #4775
@KeyWeeUsr I installed my Windows kivy around the end of October 2014 and I believe it was 1.8.0 kivy. I've attached a txt version of the kivy.bat file for your review. I had to change the file extension because of github file type requirements (doesn't support .bat).
[kivy.txt](https://github.com/kivy/kivy/files/639283/kivy.txt)

[2016-12-08 15:02] frankgould commented on #4767
Okay, this was a challenge and I've tried to provide what you're asking below in the different files.

The logs from my original code that matches the screen captures above:
**Linux apk:**
[kivy-myapp-log-GS14-linux-apk.txt](https://github.com/kivy/kivy/files/639760/kivy-myapp-log-GS14-linux-apk.txt)

**OSX apk:**
[kivy-myapp-log-HDY133-osx-apk.txt](https://github.com/kivy/kivy/files/639761/kivy-m

[2016-12-08 15:26] KeyWeeUsr opened #4777 "Local Config file misplaced"
For some reason when you set local configuration and save it (to a `<app>.ini`), the file is misplaced on Android and maybe even on iOS, which makes it harder to remove the app - the file will persist and will annoy users, because the config is pulled from that file, therefore if a user makes a mistake in the config, the config would need to be removed manually.

ref https://github.com/kivy/python

[2016-12-08 15:56] tito commented on #4463
Just to let you know, i got that too. Your issue is from the created gimp image + OpenGL Blending + OpenGL texture filter.

The issue is: when you stretch an image, the alpha doesn't match the rgb on the same pixels. Blending happen, and it does not do what you which it does. Let me explain you in detail.

# Image that doesn't work

- Create a full transparent image
- Draw a circle in the middle o

[2016-12-08 15:56] #4463 closed

[2016-12-08 16:03] tito commented on #4741
Are you sure the glyph is contained in the font?
Cause unlike the Libreoffice or the OS, currently, we don't have glyph fallback at all. Either the glyph is contained in the font, either it's not. This is something we need to work on.

I tried to test with https://fonts.google.com/?query=noto on the glyph U+1F600 (😀), it appear as a box too on Google Font.
You can try to analyse the font more deep

[2016-12-08 19:04] jerickson-thorlabs opened #4778 "TypeError during cache lookup when loading image texture if source is BytesIO"
I'm building a kivy app that works with images gathered from a camera. So, I need to use an in-memory image to provide the user a live view of what the camera sees. The library that supports the camera gives me a PIL.Image, so I use io.BytesIO to make a kivy image by doing this:

    def update_canvas(self, **kwargs):
        if self._disp_image is not None:
            temp_image = self._disp_ima

[2016-12-09 03:35] Tungsteno74 commented on #4769
**Updated the full log in the first post.**

I found that the error is 99% in the following call exception:
`Exception jnius.jnius.JavaException: JavaException('Unable to find the class java/lang/reflect/Modifier',) in 'kivy.properties.dpi2px' ignored: tbe.kivy.tbe`

This exception seems to be related to the use of a conversion function in _metrics_ module: https://github.com/kivy/kivy/blob/master

[2016-12-09 04:14] dessant commented on #4767
The key was to *customize* the example and reproduce your bug with it. When you have that, share the example which shows the bug, with the *runtime* debug logs and a screenshot.

[2016-12-09 10:18] saqib1707 commented on #4478
@udiboy1209 For deciding between whether to call on_release() or on_cancel() here , I was thinking to count the number of times touch_move is being called and set a threshold.If the user after on_touch_down swipes a little and number of touch_move exceeds the threshold then the click event will get cancelled otherwise below the threshold it will call on_release().Any other ideas ?

[2016-12-09 10:27] Leva7 commented on #4741
I've checked it with High-Logic Font Creator, the glyph _definitely is_ in the .ttf font.
I don't know what have you seen on Google Font, as my browser displays both U+1F600 and U+1F601.
![image](https://cloud.githubusercontent.com/assets/15035286/21045899/5f9e4a3a-be2c-11e6-8db4-d77dd9c55c4a.png)

[2016-12-09 11:16] udiboy1209 commented on #4741
@Leva7 check the character list here : https://fonts.google.com/specimen/Noto+Sans . It doesn't show your glyph.

[2016-12-09 11:18] tito commented on #4741
Yes, your glyph is not in the font. I download Noto Sans Regular.ttf, used http://torinak.com/font/lsfont.html
Import, see all the glyph in it, your smiley is not.

Glyph-fallback is something missing in Kivy

[2016-12-09 11:28] Leva7 commented on #4741
@tito @udiboy1209 Here's the thing, should have mentioned earlier. I manually combined the Noto Emoji and Noto Sans Regular, so I see these glyphs. But even then, if I use the default non-modified Noto Emoji, it still doesn't show it

[2016-12-09 12:57] KeyWeeUsr commented on #4741
I see emojis (the grinning one mainly) in browser as `Segoe UI Emoji` or `EmojiOne` font. I tried to use the font (it's in `C:/Windows/Fonts`, I'm not sure about license so you need to rip it yourself from there) and also the `EmojiOne`, but guess what...

Yeah, nothing. I was totally confused, because I put in python directly `u"\U0001F600"`, but then I opened the files with http://torinak.com/fo

[2016-12-09 15:34] Leva7 commented on #4741
@tito @KeyWeeUsr I think there's some issue with the way Kivy and torinak.com/font/lsfont.html read the font. When I've loaded the [NotoEmoji-Regular.ttf](https://www.google.com/get/noto/#emoji-zsye) in there, I could only see glyphs up to 0xFFFF, even though the Unicode range is greater and there clearly are more glyphs outside 0x0000 - 0xFFFF. Is that a possibility?

@udiboy1209 I don't see a ch

[2016-12-09 16:47] KeyWeeUsr commented on #4741
@Leva7 Ding ding, you found the problem!

@tito http://www.filedropper.com/osetest I put some emoji from the file into a separate test `ttf` font. There are emojis for range `a-z`, which are rendered correctly as b&w. Which triggers a question - why the range `>FFFF` isn't supported / renders boxes?

[2016-12-09 17:49] frankgould commented on #4767
Sorry for my misunderstanding and thanks for your patience. I've stripped down my app to show the text alignment anomaly and how it is used with screenmanager. I was not able to get the background pictures to show (e.g. Slide-1.jpg) but that's not important for what you've asked to see. I've attached the code (.py.txt), logs, and screenshot. Please let me know if there is anything else I can provi

[2016-12-09 17:58] saqib1707 commented on #4255
@dessant  is this feature of label accepting both text and bytes still has to be added or you people dropped the idea ?

[2016-12-09 18:22] dessant commented on #4767
`main-kivy-test.py.txt` contains 476 lines of code.

[2016-12-09 18:22] #4767 closed

[2016-12-09 18:41] KeyWeeUsr commented on #4767
Okay, nice to see some code. I'm sorry to tell, but that code is **_highly unreadable_**. Mostly there are problems even with readable _long_ code, so... imagine we need to read it and find what is where broken. See https://github.com/kivy/kivy/wiki/Community-Guidelines

If you leave the code for about a month or more, you won't be able to figure out what the hell does the thing exactly do. For su

[2016-12-09 19:21] akshayaurora commented on #4736
@udiboy1209 look at the rest of the code in TextInput there are many checks for self._lines being empty, setting that to a label would break TextInput in multiple places.

[2016-12-09 20:06] janssen commented on #4736
Just a usage note: I use this in a desktop app to display possible filename completions with a filename textinput.

[2016-12-09 20:20] udiboy1209 commented on #4736
@akshayaurora then if the desired behavior of suggestion_text is to show even for empty text, there would be a Label (with only the suggestion text) in `self._lines` . That would break those checks too right? Or we can disable suggestion_text when text is empty(with a warning message to the programmer) which I think @Zen-CODE  has implemented in #4762

[2016-12-09 21:32] janssen commented on #4736
The two are orthogonal; you might very well have suggestion_text even if text is an empty string.

[2016-12-10 05:02] enjoysmath opened #4780 "Scatter on desktop platforms translates 2 * (mouse delta) (doesn't equal mouse translation)"
I haven't tested this on handheld.  Fix is in scatter.py (see comment below)

    def transform_with_touch(self, touch):
        # just do a simple one finger drag
        changed = False
        if len(self._touches) == self.translation_touches:
            # _last_touch_pos has last pos in correct parent space,
            # just like incoming touch
            dx = (touch.x - self._last_touch_p

[2016-12-10 05:05] enjoysmath commented on #4780
I'm on windows 7

[2016-12-10 07:49] dessant commented on #4778
I could not reproduce your crash because the example is not runnable.  Here's a cleaner way of getting a kivy texture from a Pillow `Image`:

[code]

[2016-12-10 07:49] #4778 closed

[2016-12-10 08:03] dessant commented on #4780
@enjoysmath, haven't looked into it, but you could create a PR if you already figured out the details. ++

[2016-12-10 08:42] dessant commented on #482
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 08:42] #482 closed

[2016-12-10 09:04] dessant commented on #707
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:04] #707 closed

[2016-12-10 09:05] dessant commented on #763
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:05] #763 closed

[2016-12-10 09:07] #944 closed

[2016-12-10 09:09] dessant commented on #1116
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this issue, or get in touch with us on #kivy-dev.

[2016-12-10 09:09] #1116 closed

[2016-12-10 09:10] dessant commented on #1227
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:10] #1227 closed

[2016-12-10 09:14] dessant commented on #1694
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:14] #1694 closed

[2016-12-10 09:16] dessant commented on #1736
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:16] #1736 closed

[2016-12-10 09:17] dessant commented on #1779
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:17] #1779 closed

[2016-12-10 09:18] dessant commented on #1783
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:18] #1783 closed

[2016-12-10 09:20] dessant commented on #1884
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:20] #1884 closed

[2016-12-10 09:23] dessant commented on #1892
Fixed in https://github.com/kivy/kivy/pull/4708.

[2016-12-10 09:23] #1892 closed

[2016-12-10 09:24] dessant commented on #1927
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:24] #1927 closed

[2016-12-10 09:26] dessant commented on #2044
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:26] #2044 closed

[2016-12-10 09:27] dessant commented on #2045
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:27] #2045 closed

[2016-12-10 09:27] dessant commented on #2046
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:27] #2046 closed

[2016-12-10 09:29] dessant commented on #2054
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:29] #2054 closed

[2016-12-10 09:31] dessant commented on #2121
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:31] #2121 closed

[2016-12-10 09:33] dessant commented on #2181
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:33] #2181 closed

[2016-12-10 09:36] #2236 closed

[2016-12-10 09:40] #2337 closed

[2016-12-10 09:45] dessant commented on #2459
Please reopen if the bug is still present in kivy master.

[2016-12-10 09:45] #2459 closed

[2016-12-10 09:52] dessant commented on #2585
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:52] #2585 closed

[2016-12-10 09:53] dessant commented on #2600
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:53] #2600 closed

[2016-12-10 09:57] akshayaurora commented on #4736
That is the point showing suggestion text for when text input  is empty does not make any sense to me.

You should be using hint_text for that.

[2016-12-10 09:59] dessant commented on #2820
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 09:59] #2820 closed

[2016-12-10 10:00] dessant commented on #2848
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 10:00] #2848 closed

[2016-12-10 10:03] akshayaurora commented on #4736
closed by #4762

[2016-12-10 10:03] #4736 closed

[2016-12-10 10:14] dessant commented on #3163
The text was removed from the images, though we concluded that customizing the text is not a general solution for i18n, because the relevant words can have a varying length, producing incosistent and ugly results in some cases. This is why most ui toolkits are now opting to show a label near the switch.

[2016-12-10 10:14] #3163 closed

[2016-12-10 10:16] dessant commented on #3241
This should be fixed.

[2016-12-10 10:16] #3241 closed

[2016-12-10 10:19] #3291 closed

[2016-12-10 10:19] #3300 closed

[2016-12-10 10:24] dessant commented on #3391
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 10:24] #3391 closed

[2016-12-10 10:30] dessant commented on #3554
We are closing some of the stale issues, please create a new pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 10:30] #3554 closed

[2016-12-10 10:40] dessant commented on #3702
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 10:40] #3702 closed

[2016-12-10 10:48] dessant commented on #3840
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 10:48] #3840 closed

[2016-12-10 10:54] dessant commented on #3989
Please reopen with additional details if the issue is still present.

[2016-12-10 10:54] #3989 closed

[2016-12-10 10:56] #3992 closed

[2016-12-10 10:58] dessant commented on #4074
@Kovak, could you take a look?

[2016-12-10 11:07] dessant commented on #4155
If the bug is still present, please reopen the issue with step by step instructions on how to reproduce it, starting from a fresh OS install.

[2016-12-10 11:07] #4155 closed

[2016-12-10 11:35] dessant commented on #4177
Tracking at https://github.com/kivy-garden/garden/issues/13.

[2016-12-10 11:35] #4177 closed

[2016-12-10 11:47] dessant commented on #4320
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 11:47] #4320 closed

[2016-12-10 11:52] KeyWeeUsr commented on #3163
However, the instructions on canvas are separated, therefore now you can use the last piece of code to cover the text manually. #4586

[2016-12-10 12:07] #4462 closed

[2016-12-10 12:11] #4487 closed

[2016-12-10 12:14] dessant commented on #4521
We are closing some of the stale issues, please create a new pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 12:14] #4521 closed

[2016-12-10 12:14] dessant commented on #4562
We are closing some of the stale issues, please create a new issue/pr if you'd like to work on this feature, or get in touch with us on #kivy-dev.

[2016-12-10 12:14] #4562 closed

[2016-12-10 12:23] dessant commented on #4650
If someone feels very strongly about this, please reopen, but i believe this is a non-issue, most decent editors will comment out multiple lines with a keystroke combination.

[2016-12-10 12:23] #4650 closed

[2016-12-10 12:27] #4655 closed

[2016-12-10 17:48] frankgould commented on #4767
**Thank you!** You are wonderful people, and _I am not worthy_. I truly appreciate your time to consider my problem and offering a solution and better understanding on my part. I now know why tshirtman said he couldn't condone my coding. As you can tell, I am new to this environment and had little training before starting this project. My last software product I wrote in Visual Basic.

I want to t

[2016-12-10 19:28] DaytonaJohn commented on #4514
I am running Ubunto 16.04, python 2.7.12, and kivy  1.9.1, and I am also getting the seg fault when trying to use Widget.export_to_png().  I noticed that the original poster was using NVIDIA OpenGL. I am also using OpenGL, version <4.5.0 NVIDIA 367.57>. Perhaps that is the common issue.

[2016-12-10 23:37] janssen commented on #4736
I'm not sure why it doesn't make sense to you, but perhaps I can explain.  "hint_text" only shows when a TextInput is not focussed.  It is typically used to describe what the TextInput is for, like "(type filename here)".  "suggestion_text", on the other hand, shows whether or not the TextInput is focussed (perhaps it should only show when it is focussed), and is a suggestion about what to type, l

[2016-12-10 23:40] janssen opened #4783 ""Stale" issues being closed?"
What makes an issue "stale"?  Typically in my experience issues are never closed unless they are resolved one way or another.  That's why the issue tracker exists, isn't it?  To keep track of things that might otherwise fall by the wayside and be forgotten?  Is there a problem with too many issues?

[2016-12-11 02:15] dessant commented on #4783
I agree.

On the other hand the bug tracker becomes useless when we are drowned in issues that nobody has intention to act upon in the foreseeable future, nor are they critical. For *some* feature requests, submitting pull requests could become the preferred method, and even then the current team may not be able to keep up with maintenance. We're simply not enough, nor do we seem to have enough ti

[2016-12-11 02:15] #4783 closed

[2016-12-11 02:20] #4484 closed

[2016-12-11 02:20] dessant commented on #4484
Fixed in https://github.com/kivy/kivy/issues/4782.

[2016-12-11 02:24] FluxIX commented on #4783
Submitting pull requests would be useful _if_ they were processed in a reasonable amount of time, but it seems the maintenance team is having difficultly doing so currently. I disagree with closing bugs because of an inability to investigate or fix the bugs.

[2016-12-11 02:33] dessant commented on #4783
We have an easier time reviewing pull requests, than starting from working on implementing new features.
If you feel some of the recently closed issues are both important and actionable, please create new PRs for them, and we will do our best and try to process them.

https://github.com/kivy/kivy/search?p=1&q=stale&type=Issues&utf8=%E2%9C%93

[2016-12-11 02:40] dessant commented on #4783
I'd also like to invite everyone interested in contributing to take a look at the current list of pull requests, simply running them and reporting back if it they work would mean a lot.

https://github.com/kivy/kivy/pulls?q=is%3Aopen+is%3Apr

[2016-12-11 05:04] dessant commented on #2326
Fixed in https://github.com/kivy/kivy/pull/4708.

[2016-12-11 05:04] #2326 closed

[2016-12-11 05:09] dessant commented on #4062
Let's track this at https://github.com/kivy/kivy/issues/2991.

[2016-12-11 05:09] #4062 closed

[2016-12-11 05:12] dessant commented on #2991
Fixed in https://github.com/kivy/kivy/pull/4545.

[2016-12-11 05:12] #2991 closed

[2016-12-11 05:19] dessant commented on #1735
This is fixed for remote loading with the `on_error` event, and there is currently a log message if a local image cannot be loaded. As an improvement, Image could also have `on_error`, please see https://github.com/kivy/kivy/pull/4545/files for how it could be handled.

[2016-12-11 05:21] matham commented on #4783
I do agree that we should not close bugs if we cannot investigate or fix them. But I don't think the issues we closed really fall into that category. Most of them were old and are issues that were never reproduced or seem likely to be user error that is hard to figure out on github given their age. Others are feature requests that are unlikely to implemented unless there's a PR. So there's no reas

[2016-12-11 05:36] dessant commented on #3421
This was fixed in https://github.com/kivy/kivy/issues/4061 and calling `dp` should also work without an import.

[code]

[2016-12-11 05:36] #3421 closed

[2016-12-11 06:41] dessant commented on #3376
This is now mentioned in https://kivy.org/docs/guide/lang.html:
[code]

[2016-12-11 06:41] #3376 closed

[2016-12-11 07:18] udiboy1209 commented on #4074
The `GI_VERTEX_DATA` bit is never checked anywhere else after being set here, so it being 0 is not affecting anything. And `GI_NEEDS_UPDATE` bit will be set by `flag_update()` being called after a texture is set to this `VertexInstruction` which is when I think an update should be flagged. I don't know why it needs to be set to 1 during init.

[2016-12-11 14:17] germn commented on #4702
Possibly should be fixed by:
https://github.com/kivy/python-for-android/pull/952
https://github.com/kivy/python-for-android/pull/954

[2016-12-11 15:49] Zen-CODE commented on #4736
@janssen. Totally agree. Also, I think it's important features are not limited to pre-conceived use-cases. A feature should do what it says. Ideally, it should not depend on context/timing/configuration (yes, that's an often-lofty ideal). Programmers should determine how and when it's used. That's fundamental to allowing innovative interfaces.

[2016-12-11 17:18] inclement commented on #4777
This behaviour is probably also the only thing in Kivy that needs the external storage read/write permission. With this fixed (which I believe it should be), Kivy apps wouldn't need any permissions by default.

[2016-12-11 19:12] #4702 closed

[2016-12-12 04:13] #4414 closed

[2016-12-12 04:16] dessant commented on #4414
The bug surfaced when we added the [osx block](https://github.com/kivy/kivy/blob/a58a88c506472302eee373b689cc297f64e42476/.travis.yml#L119), due to https://github.com/travis-ci/travis-ci/issues/1066.

[2016-12-12 13:51] dessant commented on #4736
@Zen-CODE, @janssen `suggestion_text` was merged with an unrelated pr, apparently without feedback.
It could be beneficial to open a new issue and discuss/agree upon a better design, if you guys have some ideas about how the api should behave.

https://github.com/kivy/kivy/commit/be97eeae96bbb17ebd85ddf4e4d738033eccfbdd#diff-f6433d5683536d9ce43c2441a159250eR2482

[2016-12-12 13:56] Zen-CODE commented on #4736
Well, the PR that prevents the crashes was merged. https://github.com/kivy/kivy/pull/4762

So this ticket can properly be closed. The desired behaviour should probably discussed in a new ticket?

[2016-12-12 13:57] dessant commented on #4736
@Zen-CODE yeah

[2016-12-12 14:45] jbnance commented on #1783
How is this issue "stale"?  The ball was in your court.  Are you saying that you won't accept RFEs unless they also come with code?

[2016-12-12 14:53] dessant commented on #1783
We do accept feature requests, but they are closed if they don't generate any interest by the community and contributors.

[2016-12-12 23:02] crashMOGWAI opened #4786 "Feature Request: Range Slider Widget"
Suggest extending the basic slider and adding a range slider. I think it is common enough to add a built in.
Example: https://refreshless.com/nouislider/

[2016-12-13 05:02] saqib1707 commented on #4780
@enjoysmath I tried to recreate the bug , but I think there is no issue with that since scatter is translating whatever distance the mouse translates . Rather dividing it by 2 (as mentioned in your fix) makes its speed half and therefore it lags behind the mouse. I'm on linux(ubuntu 16.04) by the way.

[2016-12-13 09:22] rnixx opened #4788 "Incorrect back button handling on android with SDL2"
When using SDL2 on android, back button key code is ``SDLK_AC_BACK`` with the value ``1073742095``, which is not handled at all in https://github.com/kivy/kivy/blob/master/kivy/app.py#L1023

Also searching for ``SDLK_AC_BACK`` in kivy source brings an empty result. Maybe it's worth providing the most important SDL2 key codes as constants via kivy? Key codes can be found here https://wiki.libsdl.or

[2016-12-13 18:49] gkanarek opened #4791 "ScatterLayout's export_to_png doesn't center properly"
Here's an album of screenshots and png exports showing what I mean: http://imgur.com/a/jpc1h

[2016-12-13 20:10] ronbarak opened #4792 "Kivy slider show no tracking"
Following is adapted from https://stackoverflow.com/questions/41104810/kivy-slider-show-no-tracking/41111456

I started playing around with `Kivy,` and from the [documentation][1] I understand that I can create a `slider` that highlights its changing value using `Slider(value_track=True ...)`

Here's an [mcve][2], but alas, tracking isn't working:

    from kivy.app import App
    from kivy.uix.sl

[2016-12-13 20:16] ngoonee opened #4793 "Recycleview: apply_selection gets called way too often"
So I'm trying to get back the behavior I used to have with the 'old' recycleview on latest master. Here's my slightly modified Selectable example to illustrate the issue.

    from kivy.app import App
    from kivy.lang import Builder
    from kivy.uix.recycleview import RecycleView
    from kivy.uix.recycleview.views import RecycleDataViewBehavior
    from kivy.uix.label import Label
    from kiv

[2016-12-13 20:19] ngoonee commented on #4793
I'm guessing the source of the issue is in the caching behavior. It would seem a pretty big bug for views to have attributes which are flat-out wrong (in this case, the `selected` attribute obviously shows as True even when it has never been set for at least some views).

[2016-12-13 20:59] ngoonee commented on #4793
The PR only reduces the number of calls, the overall behavior of spurious calls remains.

[2016-12-14 00:32] #2450 closed

[2016-12-14 00:32] #4026 closed

[2016-12-14 00:32] #2218 closed

[2016-12-14 05:07] brentpicasso commented on #2450
This issue should remain open as text rendering should match the raw performance seen in Kivy for other graphics operations.  IMO. :)

[2016-12-14 05:19] dessant commented on #4792
@ronbarak, I see a green bar before the handle, could you test with kivy master?

[2016-12-14 11:19] timeyyy opened #4799 "async"
I wanted to use an async approach with kivy but found no built in solution. @tshirtman did some great work getting some prototypes. I had a play myself but it was rather involved and i gave up.

Recently my google fu  found an awesome [async gui library](https://github.com/reclosedev/async_gui/pull/4) that i have added kivy support to.

The library provides an easy way to spin off functions to be

[2016-12-14 18:12] souravbadami commented on #4792
@ronbarak -- Works perfectly for me on master.

[2016-12-14 18:49] #4765 closed

[2016-12-14 20:08] DaytonaJohn opened #4802 "Popup Renders Incorrectly"
Developing a detailed game using Kivy and using popups for some player interaction. Often, the Popup displays very badly. Cannot reproduce this with a simple click to display Popup, but using some threading shows it up to 25% of the time and my game uses threading. Here is an extremely simplified code that displays the problem when you click on 'Multiple Popups' button (does 20 popups sequentially

[2016-12-14 20:42] KeyWeeUsr commented on #4802
Seems like the layout wasn't even built properly yet it was used. What happens if you change framerate to something higher? Kivy is by default at 60fps, navigate to `.kivy` folder and change it in `config.ini` file to something higher.

[2016-12-14 22:58] #4388 closed

[2016-12-15 02:48] DaytonaJohn commented on #4802
KeyWeeUsr, you may be on to something. Just based on my own testing, it seems that when the max fps is set to 60, I get the most errors. Changing it to higher or lower values seem to decrease the error rate. A setting of about 5fps seems to eliminate the errors and triple digit settings seem to drastically reduce the error rate, but not eliminate it. Of course, these are not scientifically calcula

[2016-12-15 06:34] dessant commented on #4802
@DaytonaJohn, `Timer` executes the method in a thread, but most of kivy is not thread-safe. You could delay the call with `Clock.schedule_once`, which will run your method in the main thread. Please reopen with a new example if the bug is still present without threading. Make sure to also test on kivy master.

[2016-12-15 06:34] #4802 closed

[2016-12-15 12:18] germn opened #4804 "App crashes on using jinus"
I'm trying to use jinus in kivy, but app crashes with no log message.
This simple example should open url (I got code from [here](http://pyjnius.readthedocs.io/en/latest/android.html#accessing-the-activity)) on menu button click:

[code]

Here's full source code: https://yadi.sk/d/q65Z_z5n33bNTn
Here's built apk: https://yadi.sk/d/4Hqw7aRt33bNZ6

Recent kivy and buildozer masters used.

I also tri

[2016-12-15 17:43] germn commented on #4804
Possibly related to https://github.com/kivy/python-for-android/issues/658 since I also have in log:

`AndroidJoystick is not supported by your version of linux`
and
`Unknown <android> provider`

[2016-12-16 01:20] LorenzoPerticone opened #4808 "DictStore incongruences"
I've been only using kivy in the past week, trying to learn as much as i could while trying to make things work. I'm writing this preface so that you'll understand if i failed to grasp some of the core concepts.

To be clear from the beginning: i'm not reporting a bug, but something that i don't quite understand (and seems somewhat inefficient).

I've been trying to have some kind of data persiste

[2016-12-16 05:43] udiboy1209 commented on #4808
The way DictStore works is that you store dicts with their names. So to store `{'a':1, 'b':2}` you will need to do

[code]

That said, you shouldn't try to store each key as a separate dict and save the whole dict itself. The file will be written only when you decide to store the whole dict, so you can easily update the python variable sequentially and call the `put` function at the end.

What I t

[2016-12-16 06:45] jordahl74 opened #4810 "ubuntu 16.04 LTS cannot import App"
I'm somewhat new to writing python code, and I still don't fully understand errors, so any help with this would be greatly appreciated. I have tried this with python 3.5, as well as python 2.7, and so far i've had the same error both attempts.
Here is the output when i attempt "from kivy.app import App"

[INFO   ] [Logger      ] Record log in /home/brendan/.kivy/logs/kivy_16-12-15_1.txt
[INFO   ]

[2016-12-16 07:08] phunsukwangdu commented on #4810
How did you installed Kivy? i also have same platform but no such issue.

[2016-12-16 07:11] dessant commented on #4810
Please try posting your question at one of these places: https://github.com/kivy/kivy#support

[2016-12-16 07:11] #4810 closed

[2016-12-16 07:55] germn commented on #4804
I move issue [here](https://github.com/kivy/python-for-android/issues/959) since it's probably p4a related.

[2016-12-16 07:55] #4804 closed

[2016-12-16 09:21] alexanderweiss commented on #3934
I've got the same issue, running Kivy on Raspbian Jessie. Specifying UTF-8 encoding as suggested by @horsetailfiddlehead solves it.

[2016-12-16 11:54] LorenzoPerticone commented on #4808
Now i think i get it: i was reasoning in terms of
```vars(myWidgetInstance)```
while the library is designed for storing single values, instead of the whole dictionary 'as it is'. Didn't think of storing the dictionary with
```store.put('mydict', **mydict)```, but it now seems the most direct and obvious way to do it.

I was not looking for a way to store single variables (it was actually my first

[2016-12-16 11:54] #4808 closed

[2016-12-16 14:40] DaytonaJohn commented on #4802
Indeed, that fixes the code and my real app. The only mention of this that I could find in the API documentation is under kivy.clock. Perhaps this should be mentioned a bit more prominently.

[2016-12-16 17:16] dessant commented on #4711
I do think the widget should be taken into account for spacing when it is part of the layout, even if the widget size is `(0, 0)`.

@rafalo1333, please reopen if you have a compelling reason to change this behavior, with some use cases attached.

[2016-12-16 17:16] #4711 closed

[2016-12-16 17:18] #4727 closed

[2016-12-16 17:40] dessant commented on #4452
The Settings widget isn't really maintained and seems to need a rewrite, if that happens, we will likely strive to unbundle it rather than adding new settings methods for the App class.

[2016-12-16 17:40] #4452 closed

[2016-12-16 19:37] tshirtman commented on #4432
It could be a real issue indeed, i've had some mesh crashes in my applications, that could be related to it, i'll try such a patch and see if it help.
[code]

[2016-12-16 20:32] Kovak commented on #4432
I'm not certain if it would be a great idea to impose the cost of validating indices in the vertex instruction itself. This seems like something that should be left up the application developer, not be enforced at run time.

[2016-12-17 07:17] kiok46 opened #4816 "Question: Focus Behavior"
**Question**: Should this method be made public? `_get_focus_next`
https://github.com/kivy/kivy/blob/master/kivy/uix/behaviors/focus.py#L463

Reason:
User could navigate using events like `on_release` or `on_press` via the clicks/touch to change the focus of the different widgets. Sort of like navigating or user could also use this in pagination.

Use this method like this: `instances.get_focus_ne

[2016-12-17 09:30] rnixx commented on #4432
maybe it makes sense to implement a validator utility function instead which can be used for debugging if necessary?

[2016-12-17 10:21] dessant opened #4817 "Add CompoundSelectionBehavior.touch_deselect_last property"
As discussed with @matham after https://github.com/kivy/kivy/pull/4782, for making both behaviors available.

[2016-12-17 11:46] saqib1707 commented on #4817
@dessant  should the behaviour be like this  ?? -- when touch_deselect_last = False then whatever the value of self.multiselect and touch_multiselect are , the last selected node remaining shouldn't get deselected at any case  and when touch_deselect_last =  True then the behaviour should be normal i.e whatever it is right now.

[2016-12-17 11:47] dessant commented on #4817
@saqib1707, mostly yes, but we'll take care of adding this one.

[2016-12-17 11:58] saqib1707 commented on #4817
@dessant " we'll take care of adding this one." Can I work on this or  it will be done by a kivy member ?

[2016-12-17 13:03] #4792 closed

[2016-12-17 13:06] dessant commented on #4799
@timeyyy nice work! This could be presented on a wiki page, it would be a bit early to add to the docs.
https://github.com/kivy/kivy/wiki

[2016-12-17 13:06] #4799 closed

[2016-12-17 17:39] #3594 closed

[2016-12-17 18:13] timeyyy commented on #4799
Oh i didn't even know the wiki existed. Alot of good info there. I added a link to https://github.com/kivy/kivy/wiki/Snippets

[2016-12-17 19:04] #4730 closed

[2016-12-17 22:39] Scoodood opened #4823 "Kivy Installation Instruction on OSX could be better..."
Maybe it's just my problem but I hope my comment could further improve Kivy Installation Instruction on OSX for newcomers like me.

This [page](https://kivy.org/docs/installation/installation-osx.html) talks about installing Kivy on OSX, and the content is divided into 3 sections:

1. Using The Kivy.app
2. Using Homebrew with pip
3. Using MacPorts with pip

Suggestion:
1. I strongly recommend Kivy

[2016-12-18 12:52] dessant commented on #4823
@Scoodood, valid points. I think Kivy.app will have the same fate as the portable package for Windows (deprecated) when https://github.com/kivy/kivy/issues/4620 is implemented.

Kivy.app was meant to be a quick start at a time when installing the dependencies was not documented. Now installing from the official sources is described in detail, and people are also having success with homebrew.

So y

[2016-12-19 08:32] dessant commented on #4672
@akshayaurora sorry, missed your message. I think Bubble shouldn't be fundamentally incompatible with `always_release = False`, users are expecting a way for canceling their actions, and that should also hold true for this widget.

[2016-12-19 11:52] NumesSanguis opened #4829 "Kivy Windows Py3.5 ImportError: cannot import name 'kivy_config_fn'"
I just tried with the latest nightly wheel to install Kivy for Python 3.5, but unfortunately I got this error:
`ImportError: cannot import name 'kivy_config_fn' `
https://gist.github.com/NumesSanguis/ddff440103cd0984d19725c24ac47e48

The nightly on the same day for py2.7 worked for me, but the nightly for py3.4 didn't even want to install:
`py -3.4 -m pip install Kivy-1.9.2.dev0-cp34-cp34m-win_amd

[2016-12-19 13:48] luisrodriguezgonzalez opened #4830 "matplotlib error test_ test_backend.py"
Hello :
i have installed all lib for matplotlib :

sysop@kivypie:~/garden.
matplotlib/examples$ python2.7 -c 'import matplotlib; print matplotlib.__version__, matplotlib.__file__'
2.0.0rc1+2670.gbf5aeb5 /usr/local/lib/python2.7/dist-packages/matplotlib-2.0.0rc1_2670.gbf5aeb5-py2.7-linux-armv7l.egg/matplotlib/__init__.pyc

But it gives this error:

sysop@kivypie:~/garden.
matplotlib/examples$ pytho

[2016-12-19 13:49] luisrodriguezgonzalez opened #4831 "matplotlib test_backend.py Does not display x-axis and y-axis labels"
Hello:

I have tried all the distributions of raspberry .
Does not display x-axis and y-axis labels

[https://groups.google.com/forum/embed/?place=forum%2Fkivy-users&hidesubject=true&hideforumtitle=true&showsearch=true&showpopout=true&parenturl=https%3A%2F%2Fkivy.org%2F%23&afterlogin#!topic/kivy-users/ESAtbp69zco](url)

[2016-12-19 13:52] dessant commented on #4831
@luisrodriguezgonzalez, are you having the same issue on desktop?

[2016-12-19 13:56] dessant commented on #4830
Please reopen here: https://github.com/kivy-garden/garden.matplotlib.

[2016-12-19 13:56] #4830 closed

[2016-12-19 14:26] germn opened #4832 "Kivy is broken on recent master"
`kivy==master` is broken when we try to build it for android.
Problem appeared recently, probably after [this commit](https://github.com/kivy/kivy/commit/08f5273bcff3e36c7eb7327a0be70c7ad6283cf3#diff-874717abbc54b331b987a6ad0b177c4d).

[code]

[2016-12-19 14:44] Bloodyline commented on #4829
Got the same error, uninstall the newer deps and install those : https://pypi.python.org/pypi/kivy.deps.sdl2/0.1.12
https://pypi.python.org/pypi/kivy.deps.glew/0.1.4
And uninstall completly gstreamer it's the main reason it won't work, at least for me.

[2016-12-19 15:05] luisrodriguezgonzalez commented on #4830
Always made from here but the error persists in raspberry

[2016-12-19 17:52] snuq commented on #4829
I'm having the same issue, using python 2.7, python 3.4, kivy 1.9.1, 1.9.2 dev....
Got it working using those deps that Bloodyline posted (python 2.7 64bit, kivy 1.9.1, win8.1).
Unfortunately tho, I really need gstreamer for one of my projects, and installing it breaks the kivy import again...

[2016-12-19 17:55] dessant commented on #4829
The previous gstreamer wheels can be fetched from here:
https://kivy.org/downloads/packages/simple/kivy-deps-gstreamer/

[2016-12-19 18:02] snuq commented on #4829
dessant's gstreamer works! thanks!

[2016-12-19 18:18] matham commented on #4832
Try master again. It may have been fixed.

[2016-12-19 18:28] matham commented on #4829
The problem is with the pth files generated when built with pip. I'm not yet sure what changed in pip too cause this.

For comparison, here's the old file:

[code]

Here's the new one:

[code]

[2016-12-19 19:58] luisrodriguezgonzalez commented on #4830
Hello :

This has already been done many times and the problem continues

2016-12-19 10:57 GMT-03:00 dessant <notifications@github.com>:

[2016-12-19 20:59] germn commented on #4832
Sorry, but still same error.

[2016-12-19 22:23] matham commented on #4832
Ok, that needs to be fixed in the py4a side then. It may have assumed something about where the file is. And that has changed since it was moved to `kivy/include`. Although, I thought adding that path to the include directories in setup.py would fix it, but I guess that's not enough.

Someone familiar with android compilation should take a look.

[2016-12-19 22:31] ngoonee opened #4833 "RecycleView's implementation of CompoundSelectionBehavior"
`LayoutSelectionBehavior` (from recycleview.layout) delegates selection behavior to the view. This means that setting multiselect to True/False has no practical difference as the view will always receive False when not pressed and True when pressed.

The immediate consequence of this (for my project) is that ensuring that selection behavior is 'at least one and only one' view is selected is diffic

[2016-12-20 08:07] matham commented on #4829
I think this should be fixed now.

[2016-12-20 11:54] KeyWeeUsr commented on #4829
Latest deps now work just fine. Problem is now only with SDL2 loading an image:

[code]

sdl2+angle+glew bins are on `PATH`

[2016-12-20 13:15] dessant commented on #3961
The button coordinates seem to be relative to the textinput, we could to the same transformation for the touch.

[2016-12-20 13:18] dessant commented on #4672
There are two issues discussed in this thread, the bug surfaced by `always_release = False` (bubble buttons doing nothig) is being tracked here https://github.com/kivy/kivy/issues/3961.

[2016-12-20 13:57] luisrodriguezgonzalez commented on #4830
Window.size=(w, h)

Thanks, it works

[2016-12-20 13:59] luisrodriguezgonzalez opened #4834 "python test_backend.py Does not display x-axis and y-axis labels"
Hello:

I have tried all the distributions of raspberry .
Does not display x-axis and y-axis labels

matplotlib/examples$ python2.7 -c 'import matplotlib; print matplotlib.__version__, matplotlib.__file__'
2.0.0rc1+2670.gbf5aeb5 /usr/local/lib/python2.7/dist-packages/matplotlib-2.0.0rc1_2670.gbf5aeb5-py2.7-linux-armv7l.egg/matplotlib/__init__.pyc

python test_backend.py

[2016-12-20 14:00] rnixx opened #4835 "Workflow glitches with kivybot"
Since the bot is going to close stale issues automatically it would be good if repository settings get changed that issues can be reopened by creators/contributors. Not sure whether this is possible though.

In the current situation the bot closes something, and the author or a contributor needs to ask organization members to take action. That's no pretty work flow.

[2016-12-20 14:30] dessant commented on #4834
Duplicate of https://github.com/kivy/kivy/issues/4831.

[2016-12-20 14:30] #4834 closed

[2016-12-20 14:34] luisrodriguezgonzalez commented on #4831
Yes , I have the same problem.
Thank you for your attention

[2016-12-20 14:35] luisrodriguezgonzalez commented on #4831
In all distributions raspberry

[2016-12-20 14:37] dessant commented on #4831
I'm asking if it happens on a desktop pc, something other than a raspberry.

[2016-12-20 14:40] dessant commented on #4831
It also looks like this is not a kivy issue but a bug in garden.matplotlib. You're testing with mpl 2.0.0rc1, but the code was written when mpl 1.5 was released, so it may be caused by a difference between mpl versions.

[2016-12-20 14:45] dessant commented on #4835
Unfortunately there is no such setting on github. The bot closes issues when there is no new post made after applying the `awaiting-reply` label.

In your case the label was applied because the linked simpler approach received no response, nor the subsequent questions.
https://github.com/kivy/kivy/pull/3900

[2016-12-20 14:45] #4835 closed

[2016-12-20 15:02] luisrodriguezgonzalez commented on #4831
Hello:
This does not happen on windows 8.1

2016-12-20 11:40 GMT-03:00 dessant <notifications@github.com>:

[2016-12-20 15:05] dessant commented on #4831
@luisrodriguezgonzalez, could you share a log both for the windows and rpi test, when you run test_backend.py?

[2016-12-20 15:15] luisrodriguezgonzalez commented on #4831
result raspberry , all distributions

2016-12-20 12:14 GMT-03:00 Luis Rodriguez <tonifla1@gmail.com>:

[2016-12-20 15:17] luisrodriguezgonzalez commented on #4831
log windows 8.1
C:\Python27\python.exe
C:/Users/Luis/PycharmProjects/kv/garden.matplotlib-master/examples/test_backend.py
[INFO              ] [Kivy        ] v1.9.1
[INFO              ] [Python      ] v2.7.8 (default, Jun 30 2014, 16:08:48)
[MSC v.1500 64 bit (AMD64)]
[INFO              ] [Factory     ] 179 symbols loaded
[INFO              ] [Image       ] Providers: img_tex, img_dds, img_gif,
im

[2016-12-20 15:30] luisrodriguezgonzalez commented on #4831
log raspberry

pi@raspberrypi:~/garden.matplotlib/examples $ python test_backend.py
[INFO   ] [Logger      ] Record log in
/home/pi/.kivy/logs/kivy_16-12-20_17.txt
[INFO   ] [Kivy        ] v1.9.2-dev0
[INFO   ] [Python      ] v2.7.9 (default, Sep 17 2016, 20:26:04)
[GCC 4.9.2]
[INFO   ] [Factory     ] 193 symbols loaded
[INFO   ] [Image       ] Providers: img_tex, img_dds, img_gif, img_sdl2,
img_p

[2016-12-20 15:32] rnixx commented on #4835
@dessant

I get lots of mails from github and in this case I've simply overlooked that one.

What about defining a core team in kivy organization and a contriburors team with restricted access?

[2016-12-20 15:39] rnixx commented on #4835
It's also more convenient to track development as organization member with access to the organization dashboard.

If club of visible organization members to the public should stay exclusive, contributor group members can be set private...

[2016-12-20 15:40] dessant commented on #4831
@luisrodriguezgonzalez, that for the logs, but these are different kivy versions. Please check if the bug is present with kivy 1.9.1 on rpi, and share a log. Or do the opposite and test kivy master on windows.

[2016-12-20 21:52] luisrodriguezgonzalez commented on #4831
Hello:
I have installed version  kivy 1.9.1. in rpi.
1.- log

pi@raspberrypi:~/garden.matplotlib/examples $ python test_backend.py
[INFO   ] [Logger      ] Record log in
/home/pi/.kivy/logs/kivy_16-12-20_15.txt
[INFO   ] [Kivy        ] v1.9.1
[INFO   ] [Python      ] v2.7.9 (default, Sep 17 2016, 20:26:04)
[GCC 4.9.2]
[INFO   ] [Factory     ] 179 symbols loaded
[INFO   ] [Image       ] Providers:

[2016-12-20 22:06] dessant commented on #4831
Thanks for the logs. I don't know if this is a kivy, mpl, or garden.matplotlib bug, we will have to wait for a contributor with an rpi to further debug. In the meantime you could do one last test 😁 and check if the labels are displayed or not with mpl 1.5.3 and kivy 1.9.1 on the rpi, no logs are required in this case.

[2016-12-21 00:31] matham commented on #4829
I just tested on a clean system and it worked for me. I wonder if your path
is messed up. Also you should check that visual studio redistributable for
2015 is installed.

On Dec 20, 2016 6:54 AM, "Peter Badida" <notifications@github.com> wrote:

[2016-12-21 05:00] KavenC commented on #4832
I think it could be a problem relate to p4a CythonRecipe. Since it manually run cython process rather than triggered from setup.py.

[2016-12-21 11:31] inclement commented on #4832
I've changed p4a to use Kivy 1.9.1 for now (this should probably be the case anyway, so I don't intend to change it back to master). I couldn't fix it immediately though, will take another look soon.

[2016-12-21 13:05] luisrodriguezgonzalez commented on #4831
hi :
I need to try but in URL :
https://sourceforge.net/projects/matplotlib/files/matplotlib/
does not exist version 1.5.3

can you help me with this?

2016-12-20 19:06 GMT-03:00 dessant <notifications@github.com>:

[2016-12-21 13:10] dessant commented on #4831
[code]

They have moved to github btw: https://github.com/matplotlib/matplotlib.

[2016-12-21 16:42] luisrodriguezgonzalez commented on #4831
pi@raspberrypi:~/garden.matplotlib/examples $ python test_backend.py
[INFO   ] [Logger      ] Record log in
/home/pi/.kivy/logs/kivy_16-12-21_22.txt
[INFO   ] [Image       ] Providers: img_tex, img_dds, img_gif, img_sdl2,
img_pil (img_ffpyplayer ignored)
[INFO   ] [Kivy        ] v1.9.1
[INFO   ] [Python      ] v2.7.9 (default, Sep 17 2016, 20:26:04)
[GCC 4.9.2]
[INFO   ] [Factory     ] 179 symbols

[2016-12-21 16:56] matham commented on #4829
I checked again on a win 7 system and it also works with 64 bit Python 3.5.
Does anyone else have this issue?

On Dec 20, 2016 7:30 PM, "Matthew Einhorn" <moiein2000@gmail.com> wrote:

[2016-12-21 17:00] dessant commented on #4831
You're welcome. Please open an issue for mpl 2.0 at https://github.com/kivy-garden/garden.matplotlib.

Some parts will have to be updated for the upcoming matplotlib release.

[2016-12-21 17:00] #4831 closed

[2016-12-21 17:12] KeyWeeUsr commented on #4829
Same result even after multiple reinstalls of python. I used the latest deps from drive + the latest (`Kivy-1.9.2_dev0.21122016.f640ddf-cp35-cp35m-win_amd64`) wheel. Win8.1 64bit.

[2016-12-21 17:24] dessant commented on #4835
@rnixx, you've been invited to the Contributor team, this will give you write access to the kivy repository.

[2016-12-21 17:47] dessant commented on #4672
Fixed by https://github.com/kivy/kivy/pull/4836.

[2016-12-21 17:47] #4672 closed

[2016-12-21 18:01] matham commented on #4829
Try using the wheel without the extended version. Also, can you use
dependency walker (http://www.dependencywalker.com/) to figure out which
dlls are missing? You'll have to to add to the path the glew/sdl2/gstreamer
dlls manually before running it though.

On Wed, Dec 21, 2016 at 12:12 PM, Peter Badida <notifications@github.com>
wrote:

[2016-12-21 18:29] luisrodriguezgonzalez commented on #4831
closed.
https://github.com/kivy-garden/garden.matplotlib/issues/45

2016-12-21 14:00 GMT-03:00 dessant <notifications@github.com>:

[2016-12-21 18:33] rnixx commented on #4835
Awesome! Thanks!

[2016-12-21 19:20] snuq commented on #4829
The import error is fixed for me now, but im getting the same error as KeyWeeUsr now, using python 2.7 and the latest nightly wheel.
Im also on win 8.1 64bit, interestingly enough, and the visual studio redistributables are installed.
I got dependancy walker, but im not entirely sure what to do with it, I opened python.exe and it says its missing 6 dlls:
API-MS-WIN-CORE-KERNEL32-PRIVATE-L1-1-1.DLL

[2016-12-21 20:23] KeyWeeUsr commented on #4829
`zlib.dll` in `C:\Program Files\Intel\WiFi\bin\` colliding, ou yeah.

[2016-12-22 00:32] #4656 closed

[2016-12-22 02:45] matham commented on #4829
I think the zlib issues for the dependencies should now be fixed on pypi. Kivy wheel still needs to be rebuilt, but it should fix it even for older kivy wheels.

[2016-12-22 11:53] lulingar opened #4838 "A way to set the VKeyboard font size could be added"
I'm not sure how to go about this small but probably useful change. Currently, no clean way seems to exist for setting the font size of the keys in a VKeyboard. Indeed, the `draw_keys` method of the `VKeyboard` class has the following code:

    w, h = self.size
    # ...
    font_size = int(w) / 46

But the rendered keyboard is not pleasing to the eye as rendered on half of the screen of a 7'' to

[2016-12-22 12:27] KeyWeeUsr commented on #4838
Instead of the raw `46` value make a `NumericProperty` e.g. in `VKeyboard` and put it in that place, which will expose the more useful option to the users. Of course note, that if you are going to make a pull request, each exposed property has to be documented (docstring, version tags, what class it actually is, etc). Examples how it should look you can find all over the repository. 🐰

[2016-12-22 19:19] KeyWeeUsr commented on #4829
@matham I'm closing it, because the original issue was resolved and if something similar happens again, we know it was about colliding dlls.

[2016-12-22 19:19] #4829 closed

[2016-12-22 19:27] KeyWeeUsr commented on #4620
Apparently good old pygame already figured it out, so this could be a nice addition. It shouldn't be hard, but I'm a little bit confused with the docker and where actually it puts the stuff, so if someone feels adventurous, it should be just a matter of ripping the right lines from the pr (only small part of it is actually the wheel making) as I don't see too many differences between the demo and

[2016-12-22 19:51] Tungsteno74 commented on #4769
Finally i found the problem!
Basically the following command raise the previous error with SDL2

`Config.set('kivy', 'window_icon', 'assets/logo_64x64.png')`

This strange behaviour is not specified in the doc (i think should be documented, no?).
I don't know if on this implementation of Kivy is an unfixable problem or not, but what i think is that at least should be skipped in build phase conside

[2016-12-22 20:16] Tungsteno74 commented on #4788
I remember that some version ago of SDL2 implementation the back button was working (I raise the same problem some version ago), but I noticed that in the last version there are a lot of trouble (i can't try now because have some trouble with this target), so this maybe a regress.
You have already tried to use the _release_ version?

[2016-12-22 20:45] lulingar commented on #4838
Right, but would people be happy to tweak an abstract parameter such as that denominator? Maybe, if it has some sort of concept behind it. My question would be, how was that value 46 computed/determined?

[2016-12-22 23:29] KeyWeeUsr commented on #4838
That's like a super-old line. I put `len()` on a lot of stuff there or just printed stuff but found nothing like `46` value. That guy might even put there `42`, that would be a nice pun for this mystery.

However, I think [the intention](https://github.com/kivy/kivy/commit/576a4ba09b97fd22bbc4ea0bae1073e03ddd9dfa#diff-41a5e58e29320aba7dacc7be3b6cb51dR463) was to have a `font_size` equal on android

[2016-12-23 00:28] KeyWeeUsr commented on #4777
@inclement [this line](https://github.com/kivy/kivy/blob/5913d861f45119dfff0b6cb5d004e6f79858563c/kivy/app.py#L657) and the line under (ios) will cause the issue. I don't have a clue how iOS handles permissions, but this requires the Android `WRITE_EXTERNAL_STORAGE` permission and if android is going to change, iOS should aquire the same/similar structure.

If not change, then at least a mention i

[2016-12-24 00:55] yaki29 opened #4841 "kivy.core.audio giving Gstreamer warning"
What could be the reason for this error ...
[INFO              ] [Logger      ] Record log in /home/yash/.kivy/logs/kivy_16-12-24_98.txt
[INFO              ] [Kivy        ] v1.9.1
[INFO              ] [Python      ] v2.7.9 (default, Apr  2 2015, 15:33:21)
[GCC 4.9.2]
[INFO              ] [Factory     ] 179 symbols loaded
[INFO              ] [Image       ] Providers: img_tex, img_dds, img_gif, img

[2016-12-25 00:32] #4356 closed

[2016-12-25 00:32] #4482 closed

[2016-12-25 03:26] saqib1707 commented on #3961
@dessant was trying to solve this using correct approach . Found out that even if the touch is transformed in textinput.py , there is no way to call the on_touch_up of button.py from textinput.py having touch.grab_current = bubblebutton object . https://github.com/kivy/kivy/blob/master/kivy/uix/behaviors/button.py#L162-L163 .The grabbed touch is dispatched to the on_touch_up of button.py but makin

[2016-12-25 22:41] Tungsteno74 opened #4843 "AccordionItem color not work on Android"
This code not work as expected on Android devices:
[code]

The image below is how it appears on Android devices:
![accordition_color_bad](https://cloud.githubusercontent.com/assets/13614344/21473063/35839a56-caf8-11e6-8b16-3e76e850792e.png)

Instead this image is as looks on Windows/Linux (correct):
![accordition_color_ok](https://cloud.githubusercontent.com/assets/13614344/21473070/06c910dc-caf9-

[2016-12-26 14:16] KeyWeeUsr commented on #4675
Might be closed after #4620 is implemented as there'll be no compilation required anymore - similar to numpy wheels on linux.

[2016-12-26 21:26] luisrodriguezgonzalez opened #4845 "raspberry kivy matplotlib AttributeError: 'MTDMotionEvent' object has no attribute 'button'"
hello:
In raspberry  I press on graph matplotlib (touch screen) and gives this error:
[INFO   ] [Base        ] Leaving application in progress...
 Traceback (most recent call last):
   File "mainScreenManager2.py", line 329, in <module>
     ScreenApp3().run()
   File "/home/pi/kivy/kivy/app.py", line 828, in run
     runTouchApp()
   File "/home/pi/kivy/kivy/base.py", line 504, in runTouchApp

[2016-12-26 21:47] luisrodriguezgonzalez commented on #4845
I added in the graphic class:
    def on_touch_down(self, touch):
        print " touch"

        pass

[2016-12-26 21:47] #4845 closed

[2016-12-27 01:26] dessant commented on #4491
@janssen, is it still reproducible with kivy master?

[2016-12-27 10:04] farisazni opened #4847 "Kivy Segfault"
Hi. I'm trying to make a simple budgeting application using kivy. I just got a segfault from trying to run my code, Tried to help but I've never gotten segfaults before and I'm new to both kivy and python. I'm using Python 3.5.2 if that helps.

main.py
********************************************************************************************************************************
[code]
***********

[2016-12-27 11:33] melassa commented on #4031
Same problem here on Spinner on LG G3 Android, kivy 1.9.1, python 2.7.

[2016-12-27 13:32] ronbarak opened #4848 "`buildozer android_new debug` fails with `AttributeError: 'Context' object has no attribute 'hostpython'`"
I used `buildozer android_new debug` and it gives me `AttributeError: 'Context' object has no attribute 'hostpython'` (full output at bottom).<br>

Is this something I can fix myself?
---

I use buildozer on Python 2.7.12 on Ubuntu 16.04 64 bits in VirtualBox 5.1.10 (hosted on Windows 7 64 bits)

    openstack@ubuntu1604:~/python/kivy$ buildozer android_new debug
    # Check configuration tokens

[2016-12-27 13:46] dessant commented on #4848
This may fix it for you https://github.com/kivy/python-for-android/issues/620#issuecomment-186167468.
If the issue persists, please open a bug report at the p4a repo with log_level = 2.

[2016-12-27 13:46] #4848 closed

[2016-12-27 13:48] dessant commented on #4833
@matham, thoughts?

[2016-12-27 13:49] dessant commented on #4847
If there are some logs besides the segfault, please share them.

[2016-12-27 13:55] dessant commented on #4841
@yaki29, have you installed both gst 0.10 and 1.*? Only the latter is needed.

[2016-12-27 13:58] dessant commented on #4832
This issue was moved to kivy/python-for-android#970

[2016-12-27 13:58] #4832 closed

[2016-12-27 14:22] dessant commented on #4764
Related https://github.com/kivy/kivy/issues/4036.

[2016-12-27 15:10] dessant opened #4849 "'make build' does not skip unchanged modules"
It must be a recent change, seen with master on Windows.

[2016-12-27 16:51] farisazni commented on #4847
Thanks. Here's the backtrace of the segfault I got using gdb

[code]

[2016-12-27 17:13] dessant commented on #4847
@farisazni, just noticed an oddity in your code:

[code]

Here is a sample app for guidance:
[code]

[2016-12-27 17:13] #4847 closed

[2016-12-27 17:14] farisazni commented on #4847
Thank you.

[2016-12-27 17:51] udiboy1209 commented on #4849
Confirmed on ubuntu 16. Must be the new changes to `setup.py` in commit [1931d18](https://github.com/kivy/kivy/commit/1931d18a8b84c9ea857897eb9e7312c0b0da8298) .

[2016-12-27 18:09] #4683 closed

[2016-12-27 18:58] TimSC commented on #4432
Perhaps validate the points by default and have an option to turn it off for performance?

[2016-12-27 19:06] dessant commented on #4432
@TimSC, having it turned off by default and documenting would be preferred.

[2016-12-27 23:41] #4817 closed

[2016-12-28 00:57] dessant commented on #4816
@kiok46, yes, the feature should be exposed. There could be two new methods for focusing the next or previous widget, and they could mostly do this internally: https://github.com/kivy/kivy/blob/efe0d76d28b4740bcd78a52286ab526001596178/kivy/uix/behaviors/focus.py#L507.

[2016-12-28 02:26] dessant commented on #4741
I don't see the emoji either with this example:

[code]

[2016-12-28 02:33] dessant commented on #4791
Could you share a simple example for easier testing? I could not reproduce it with `examples/widgets/scatter.py`.

[2016-12-28 03:36] brentpicasso commented on #2741
I just ran across this need for inverting x and y.  Unfortunately the [postproc:calibration] trick didn't work for me.  Would a PR for inverting mouse_x and mouse_y to match the hid input provider be useful? I could work on that.

[2016-12-28 04:11] Darkhand81 commented on #2741
That would be fantastic. :)  It's been years and I never found a solution for this issue.

[2016-12-28 06:24] ngoonee commented on #4793
On further investigation I think this issue does not accurately describe the source problem, and am no longer convinced I'm barking up the right tree. Closing.

[2016-12-28 06:24] #4793 closed

[2016-12-28 18:26] janssen commented on #4491
I'll check.

[2016-12-28 19:02] janssen commented on #4491
I cannot get Helder-Tomas' examples to fail, using kivy master with Python2 and Ubuntu 16.04 on a Lenovo laptop.  So maybe some of the other changes to the Clock have fixed this.  I'll check it on my Mac and Windows machines when I get access to them.

[2016-12-29 05:55] FeralBytes opened #4852 "seek() broken for audio_gstplayer.py"
seek() for SoundLoader using gstplayer and possibly others; definitely SDL2 is broken in both Kivy 1.9.1 and Kivy 1.9.2 and I have notes that suggest it was also broken in Kivy 1.8.

The example below demonstrates the issue; simply copy the code below into a new "example.py" file (python3). and run the code as $ python3 example.py path/to/music_file.m4a
[code]
Tested file types: '.ogg', '.mp3', '.

[2016-12-29 06:11] Bakterija commented on #4852
This seems to be an issue only when using SoundGstplayer with Multiprocess and/or Subprocess modules

[2016-12-29 14:07] flyyn commented on #4428
Is there something I can follow to fix this issue? I am having the same problem . No module named kivy_clock

[2016-12-29 14:57] AndiEcker commented on #4428
Recently I had also problems to update/install kivy on one of my windows
machines (my main Ubuntu machine is still fine).

The fix for me was to use the nightly wheel installation files like
described here:
https://kivy.org/docs/installation/installation-windows.html#nightly-wheel-installation.
This removed my old/broken kivy version 1.9.1 installation and replaced it
with the version 1.9.2 which

[2016-12-29 15:39] FeralBytes commented on #4852
OK; but why; it still plays and stops fine; just not able to seek?

[2016-12-29 15:41] FeralBytes commented on #4852
Also this is a standalone example; no multiprocessing or subprocess so that does not explain the problem here and shows that it must be further reaching than you think; give the script a try; it does not seek; even though no multiprocessing or subprocess.

[2016-12-29 16:16] AndiEcker commented on #4852
The skip bug happens to me too with the script provided by @FeralBytes on
my windows machine with the current kivy 1.9.2 Python 2.7 nightly wheels
build.

This is the console output (although displaying the 4 Gstreamer-WARNINGS,
the song is playing fine, and the last line should show a value of 10 or
more instead of 0):

[code]

2016-12-29 15:41 GMT+00:00 FeralBytes <notifications@github.com>:

[2016-12-29 17:54] flyyn commented on #4428
Thanks for the quick response. Does this apply to installing it on the raspberry PI as well?

Thanks.

Sent from my iPhone

[2016-12-29 21:25] FeralBytes commented on #4852
OK I figured it out; the player will not seek when the audio is stopped. Because in kivy/lib/gstplayer/_gstplayer.pyx in the seek functions a state check is performed and the only states that are allowed are Paused (which is odd since pausing is not implemented) and or Playing. Thus a state of Stopped would not be allowed.
GST_PLAYER_STATE_STOPPED would need to be added to the ctypedef on line 22

[2016-12-29 21:27] FeralBytes commented on #4852
Updated example code to show that seek does work if the song is playing.
[code]

[2016-12-29 21:52] KeyWeeUsr commented on #1445
@thopiekar I get no Window after this var in environment:

    set KIVY_DOC=1  # (or export)
    python

[2016-12-29 21:52] #1445 closed

[2016-12-29 23:01] kn2322 opened #4856 "Code error in kv lang documentation - re-using styles in multiple widgets"
In this [section](https://kivy.org/docs/guide/lang.html#re-using-styles-in-multiple-widgets) about reusing widget styles in kv lang, should the 'on_press: self.text(txt_input.text)' in both 'MyFirstWidget' and 'MySecondWidget' be '**root**.text(txt_input.text)', or '**self.parent**.text'?

[2016-12-29 23:06] KeyWeeUsr commented on #4856
Thanks, it should be `root`. Fixed https://github.com/kivy/kivy/commit/5b5129a92166dbd4dda55b2ac87bce9bb3d60535

[2016-12-29 23:06] #4856 closed

[2016-12-29 23:18] thopiekar opened #4857 "Kivy daily PPA broken due to import errors"
Switching to Git recipes now..

[2016-12-29 23:22] thopiekar commented on #4857
Old BZR-based recipe:
[code]
New GIT-based recipe:
[code]

[2016-12-29 23:27] thopiekar commented on #4857
And to complete the list the updated stable recipe:
[code]

[2016-12-29 23:39] thopiekar commented on #4857
Ouch, many things have changed:
[code]

[2016-12-29 23:41] thopiekar commented on #4857
Are these headers usr/lib/python*/dist-packages/kivy/include/* at the right place?

[2016-12-30 04:41] FeralBytes commented on #4852
There is no way to seek when the song has been stopped (GST_STATE_STOPPED does not exist only a paused state); so either we expose a pause option which needs approval from Kivy devs or we raise an error when seek is called and the song is stopped to at least let future users know why it is not working. And of course a documentation update will be in order.
Kivy Devs please let me know which way yo

[2016-12-30 09:35] AndiEcker commented on #4428
Sorry but just noticed that the nightly wheels packages are only available
for Windows :/.

Assuming you already tried the instructions on
https://kivy.org/docs/installation/installation-rpi.html.

The missing kivy._clock error is possibly coming from a wrong version of
cython installed on your RPI. Did you tried to revert to an older version
of cython by specifying cython==0.20.1 in your buildoze

[2016-12-30 13:10] saqib1707 commented on #4786
@crashMOGWAI  Apart from adding a range-slider , feature of showing min_value, max_value and current_value can be added so that user don't have to explicitly add them and can have a choice whether to show these values in his app by setting (may be) a boolean variable.

[2016-12-30 13:40] flyyn commented on #4428
It's ok . I tried this before and I got it to work once but after I rebooted my pi and got stuck in the log in screen . I am going to try this method again. Thanks .

Sent from my iPhone

[2016-12-30 21:52] sem376 opened #4860 "kivy matplotlib test_backend.py and test_plt.py display error and exit error"
Hello,
I'm using the following:
Windows 8 and Windows 10
IDE: Pycharm latest version
Python: version 3.4.4
Kivy: version 1.9.1
Matplotlib: version 1.5.3
Numpy: lastest version
Downloaded Matplotlib for kivy

When I test the test_backend.py code located here https://github.com/kivy-garden/garden.matplotlib/tree/master/examples, the code starts up, but the display isn't exactly how it suppose to loo

[2016-12-31 00:32] #4499 closed

[2016-12-31 00:52] dessant commented on #4860
Please reopen the issue at https://github.com/kivy-garden/garden.matplotlib.

[2016-12-31 00:52] #4860 closed

[2016-12-31 00:57] dessant commented on #4769
This issue was moved to kivy/python-for-android#971

[2016-12-31 00:57] #4769 closed

[2016-12-31 15:37] dessant opened #4861 "UserWarning: Normalizing '1.9.2-dev0' to '1.9.2.dev0'"
https://www.python.org/dev/peps/pep-0440/#development-release-separators

We could switch to the normalized form at the next version bump.

[2016-12-31 15:49] KeyWeeUsr commented on #4861
This is kind of hard, because you need to check a lot of things:

* appveyor build → it creates its own name we change before pushing to Drive
* pip install <file> (both normalized and with date & hash)
* kivy version [parse](https://github.com/kivy/kivy/blob/master/kivy/__init__.py#L89)
* consistency between all these three things ↑

Which means that if you edit parsing of the version you probabl

[2016-12-31 20:47] matham commented on #4861
Right, the real fix, which I mentioned before, is to not have any of that stuff in the wheel filename. Instead we use a version file that is generated on a build and imported in init. Then the name is free to be normal. That's how numpy does it (https://github.com/numpy/numpy/blob/master/setup.py) ans uses it like https://github.com/numpy/numpy/blob/master/numpy/__init__.py#L133. I never got aroun

[2017-01-01 17:08] iiDatKat opened #4863 "“No module named setuptools” after installing setuptools"
I posted this on kivy/buildozer as well, but I'll post it here as well.

I have a Flask server in a Python file. It's really simple:

    from flask import Flask
    app = Flask(__name__)

    @app.route('/')
    def hello():
        return "Hello World!"

    if __name__ == '__main__':
        app.run()

I'm using Kivy's Buildozer to build my file. After creating `buildozer.spec` and specifying `

[2017-01-01 17:11] #4863 closed

[2017-01-01 17:12] iiDatKat commented on #4863
Handling with inclement on kivy/buildozer.

[2017-01-01 17:49] merriam commented on #2789
Blame me not on lack of progress.  I was banned back then for too many submissions with two spaces after a period.

[2017-01-01 18:14] dessant commented on #2789
You were definitely not banned only because of submissions with two spaces after a period, but for acting in a harassing way with reviewers, and for maintaining a negative tone which we would prefer not to see within this community (and that's a very compressed and toned-down summary of the real events). These coupled with the time spent on discussing your situation resulted in a negative loss for

[2017-01-01 21:54] Terrydaktal opened #4864 "imaging.so not found"
kivy .apk crashes on launch on android, no matter what i do

built using following terminal command on arch and copying over .apk from bin
sudo buildozer android debug deploy serve

logcat:
![image](https://cloud.githubusercontent.com/assets/24293492/21583151/6f41684a-d06b-11e6-99e0-6ad8bbfa5c35.png)

Im aware that this issue has been raised before, but no suggestion given helped me

buildozer.spe

[2017-01-01 22:54] KeyWeeUsr commented on #4864
I wonder what `renpy` is doing there. Pygame doesn't work with Python 3, does it? O_o anyway, try to switch to `android new`, that should trigger SDL2 + definitely check if you have such a file available in your .apk (unzip it, it's the quickest way).

If that doesn't work, try to reinstall buildozer from repository (`pip install https://github.com/kivy/buildozer/zipball/master`). If still doesn't

[2017-01-02 00:30] Terrydaktal opened #4866 "kivy app crashing on launch"
after advice from issue #4864
-i have rebuilt python-for-android and buildozer from the repo
-i have changed buildozer.spec to include all modules imported into python: [buildozer.spec.txt](https://github.com/kivy/kivy/files/680284/buildozer.spec.txt)
-i have used android_new and built an apk with that, and another apk with just android as well

both applications however still crash, the error pro

[2017-01-02 03:49] aerogelio opened #4867 "Possible bug in actionview at maximize/minimize window"
I am adding and deleting ActionButtons to an ActionView  programmatically using add_widget and remove_widget functions, but at some point when I maximize or minimize the window, all ActionButtons removed are added again. If I do not maximize or minimize the window all work fine.

I was checking the ActionView code and found that it overwrites add_widget for stores the views on property _list_actio

[2017-01-02 06:15] miohtama opened #4868 "Running pip on OSX / Kivy3: No such file or directory: activate_this.py"
Fresh Kivy3 1.9.1. install.

Attempt to run `pip` command directly fails.

[code]

Not sure if this is intentional or the virtual environment shipped with the installation is broken.

[2017-01-02 06:18] miohtama opened #4869 "kivy -m pip install -r requirements-osx.txt - cannot find file"
`pip` shipped with kivy3 fails to work as a normal pip command.  Passing `-r` option fails to find a requirements file in the current directory.

[code]

[2017-01-02 06:19] miohtama opened #4870 "Cannot upgrade pip: kivy -m pip install -U pip"
Kivy3 OSX cannot upgrade pip version shipped with it. It fails for some command line argument parsing reasons, probably due to how the underlying `pip` command is wrapper.

[code]

[2017-01-02 06:36] miohtama commented on #4870
Workaround: use Homebrew installation method.

[2017-01-02 06:36] miohtama commented on #4869
Workaround: use Homebrew installation method.

[2017-01-02 06:36] miohtama commented on #4868
Workaround: use Homebrew installation method.

[2017-01-02 11:02] oaltun opened #4871 "kivy-examples widgets asyncimage.py crashes"
I just did an install on Windows. kivy-examples/widgets/asyncimage.py crashes because http://kivy.org/funny-pictures-cat-is-expecting-you.jpg is not there anymore...

[2017-01-02 11:08] KeyWeeUsr commented on #4867
I think the widget worked normally before. A reproducible example would be really nice btw :)

[2017-01-02 11:14] KeyWeeUsr commented on #4871
<img src="http://www.aztemplates.org/wp-content/uploads/2012/12/Missing-Pet-Poster-Template.jpg" height=300></img> @dessant she ran away again. Do we have any spare? 😄

[2017-01-02 11:21] KeyWeeUsr commented on #4870
Try again with `--verbose`. This should at least print available version or something, not just "(from versions: )".

[2017-01-02 11:23] oaltun commented on #4871
:)

[2017-01-02 11:26] KeyWeeUsr commented on #4871
Basically, you can put there any url you want and it should be able to fetch the content. But yeah, the file somehow disappeared. Is the rest of them in tact?

[2017-01-02 13:40] oaltun commented on #4871
I am aware that you can put any image there. I reported still. It should be fixed is it not? E.g. a new address must be there.

[2017-01-02 13:43] KeyWeeUsr commented on #4871
Of course, I just mentioned it if it wasn't obvious or something. The issue is fine :)

[2017-01-02 13:47] KeyWeeUsr opened #4872 "Broken / not implemented multiple joystick support?"
I'm not really sure what's hapenning here mainly because I get different `stickid` if I have multiple joysticks, yet the only input I get is from _the last one plugged in_ into my machine. I've tested with vJoy and one real device, yet either I get only the real device after vJoy + real, or I get only the vJoy input after read + vJoy.

I tried to find something more about it, yet the only thing I

[2017-01-02 18:58] dessant commented on #4871
@KeyWeeUsr, you may get a new litter from @matham.

[2017-01-02 19:00] #4871 closed

[2017-01-02 19:04] dessant commented on #4870
This issue was moved to kivy/kivy-sdk-packager#34

[2017-01-02 19:04] #4870 closed

[2017-01-02 19:05] dessant commented on #4869
This issue was moved to kivy/kivy-sdk-packager#35

[2017-01-02 19:05] #4869 closed

[2017-01-02 19:05] dessant commented on #4868
This issue was moved to kivy/kivy-sdk-packager#36

[2017-01-02 19:05] #4868 closed

[2017-01-02 20:01] #4823 closed

[2017-01-02 22:45] aerogelio commented on #4867
Here:
https://github.com/aerogelio/avposbug

I try:
1.- Add five widgets
2.- Remove five widgets
3.- Add five widgets
4.- Remove five widgets
5.- Maximize
6.- Minimize
7.- The effect should be visible.

If anything else happens tell me, for upload images and videos.

[2017-01-02 23:13] KeyWeeUsr commented on #4867
It's somehow bound to the width of widget/window, probably triggered when the amount of visible widgets is recalculated. It's probably only the list issue.

[2017-01-03 14:22] FeralBytes commented on #4852
I still would like to raise an error; to prevent users from doing this; but I feel that is probably the part that is holding up the kivy-dev team from making a decision about the way forward. So at least the documentation will be right going forward.

[2017-01-03 19:06] dessant commented on #4857
@matham, ping. ^

[2017-01-03 19:17] #4852 closed

[2017-01-03 19:39] dessant commented on #3961
Fixed in https://github.com/kivy/kivy/issues/4844.

[2017-01-03 19:39] #3961 closed

[2017-01-03 19:55] matham commented on #4857
I don't know how it works when packaged outside the cloned kivy folder (how it finds things). Specifically, these headers would be required when cimporting kivy.

In the code we use relative paths for the headers because cimporting doesn't find them, even when the paths are provided. I.e. in kivy/graphics/file.pyx you'll find lines e.g. `include "../../include/config.pxi"`. But I'm not sure how th

[2017-01-03 20:54] dessant commented on #3472
Let's track this at https://github.com/kivy/kivy/issues/4872.

[2017-01-03 20:54] #3472 closed

[2017-01-03 20:58] dessant commented on #4706
fullscreen=0 is not supported in egl_rpi, but sdl2 should work. If you're having isssues with sdl2, please open a new issue with a way to reproduce the bug.

[2017-01-03 20:58] #4706 closed

[2017-01-03 21:01] matham commented on #4706
both sdl2 and x11 window providers work on the pi. I just tested it on rpi3. Just make sure to use master, and compile with `USE_SDL2=1` and `USE_X11=1` and run it with `KIVY_WINDOW=sdl2` or `KIVY_WINDOW=x11`. You should also try the experimental driver if you can (VC4) as otherwise it'll be  a lot slower. egl though was always the fastest in my tests.

[2017-01-04 03:13] FeralBytes commented on #4224
From dessant: and this can be added to the delete list https://github.com/kivy/kivy/blob/master/kivy/core/camera/camera_videocapture.py

[2017-01-04 04:08] dessant commented on #4224
@matham, @Cheaterman: is this superseded by ffpyplayer and should it be removed?
https://github.com/kivy/kivy/blob/master/kivy/core/video/video_ffmpeg.py

[2017-01-04 04:11] matham commented on #4224
I never used it, so I'm not sure. But I'm guessing so. @tito would if there's any reason for it.

But I suspect it should not be removed in one cycle. It needs to be first deprecated and then removed.

[2017-01-04 04:21] dessant commented on #3638
The pygst provider has been removed.

[2017-01-04 04:21] #3638 closed

[2017-01-04 04:22] #2571 closed

[2017-01-04 04:42] jeffersonheard opened #4880 "Pong example in Android crashing on launch"
* Device: Nexus 6P, unmodified.
* Build System: OS X El Capitan
* Default install of kivy and buildozer installed fresh today according to https://kivy.org/docs/guide/packaging-android.html

It works great on the OS x command line, but packaging for Android fails. I literally just tried packaging the most basic example using buildozer. I get the following from `$buildozer android logcat`:

https:/

[2017-01-04 05:12] jeffersonheard commented on #4880
Seems to work with `android_new`. Perhaps I should just use that from now on... Is there any disadvantage to android_new?

[2017-01-04 12:37] cocodevienne opened #4881 "Binding function with arguments"
Ok guys, this is no issue, but more of a question. I have this code here(https://github.com/cocodevienne/curl2android). So far so good, I managed to make a somewhat repsonsive UI, its very primitve though. Now I have one question.  What do I have to add to my code in order to call the download function and pass  "self.url" and "self.fname" to it? This has been confusing me thoroughly and I would b

[2017-01-04 12:38] cocodevienne commented on #4881
P.S: so that the download function is executed with the press of the button taking in the args described above.

[2017-01-04 12:42] KeyWeeUsr commented on #4881
GitHub issues are for reporting bugs. Please use one of the appropriate channels for such questions. It's also a lot faster in a large scale.

* https://kivy.org/#support
* https://github.com/kivy/kivy/wiki/Community-Guidelines

[2017-01-04 12:42] #4881 closed

[2017-01-04 13:48] KeyWeeUsr opened #4882 "Zipped images not included in examples"
Zips from [this](https://github.com/kivy/kivy/tree/master/examples/widgets/sequenced_images/data/images) folder aren't available in installed examples (excluding installation from git clone).

There should be also included a license to the files in the example, ref #3110.

[2017-01-04 14:45] KeyWeeUsr commented on #4307
Few more links I found recently:

* Mac: [sample](https://developer.apple.com/library/content/samplecode/RoundTransparentWindow/Introduction/Intro.html)
* Linux [Glass Pane](http://stackoverflow.com/q/4326534/5994041)
* [OpenGL](http://stackoverflow.com/q/4052940/5994041)

With Windows and Mac it looks promising, but most likely requires a lot of time.

[2017-01-04 15:00] FeralBytes commented on #4882
@KeyWeeUsr as a simple fix; do you plan to unzip the files? Or do you need someone to do that?

[2017-01-04 15:08] FeralBytes commented on #4872
@KeyWeeUsr I have a strong interest in getting controller support but for Steam Controllers; do you need help with the multiple controller issues? I just helped out Muppen64 with some controller debugging; so it is still fresh in my mind.

[2017-01-04 15:08] KeyWeeUsr commented on #4882
The files need to be zipped to preserve a functionality of the example showing an `Image` being able to open `.zip` files as a gif → [here](https://github.com/kivy/kivy/blob/master/examples/widgets/sequenced_images/main.kv#L27).

[2017-01-04 15:12] FeralBytes commented on #4866
Looks like your error has nothing to do with the Window; but rather a bad import; see here:
[code]

[2017-01-04 15:13] KeyWeeUsr commented on #4872
Well, I know about these [mappings](https://github.com/gabomdq/SDL_GameControllerDB), so basically if SDL recieves the input from the controller, it's only about the correct mapping.

Then again, according to snippets for multiple controllers I thought it's Just Work(TM), but as already mentioned, it opens only the last plugged in joystick. If you have any experience related to using multiple joys

[2017-01-04 15:27] FeralBytes commented on #4768
@derekbrokeit Please provide full logs of both implementations; also please provide full source code implementations. Thank you.

[2017-01-04 15:39] FeralBytes commented on #4742
@laerus I have encountered something like this BCM issue before; but basically it was resolved by a clean re-install. Which means either something is going wrong with the Kivy install or something is going wrong with a different package and Kivy Highlights the issue. If I remember correctly the issue was tied to Nvidia Prime and so I had to make sure that the Nvidia card was active; not the Intel

[2017-01-04 15:39] FeralBytes commented on #4742
Also the segfault did you mean Wayland?

[2017-01-04 15:53] FeralBytes commented on #4729
@zmandt try sudo -s. This seems to follow standard Linux behavior in my experience. The better technique is probably for you to run a separate process and have that process become Super User; and just communicate between the two processes. Since actual communication via Subprocess would likely fail in this situation I would probably use OSC or something similar.

[2017-01-04 16:00] FeralBytes commented on #4634
@rafalo1333 @ilovetogetspamed confirmed this is fixed now then?

[2017-01-04 16:49] ilovetogetspamed commented on #4634
Not exactly, it gets past the 'AttributeError: 'NoneType' object has no attribute 'children'' but still doesn't stop the application at self.stop().

maybe I don't understand what stop() is supposed to do?

[code]

[code]

[2017-01-04 17:37] KeyWeeUsr commented on #4882
@dessant At first I thought so, but I think it's `setup.py`'s fault, as I don't see the zips even after installing from repo. Which means it's broken everywhere.

[2017-01-04 17:39] dessant commented on #4882
Just a guess, but this may be the place to add it: https://github.com/kivy/kivy/blob/master/MANIFEST.in.

[2017-01-04 17:46] dessant commented on #4882
This is it: https://github.com/kivy/kivy/blob/master/setup.py#L864.

[2017-01-04 17:57] #4882 closed

[2017-01-04 18:46] dessant commented on #4224
A summary of the removed providers:

* audio: pygst, gi
* video: pygst, gi, pyglet
* camera: pygst, videocapture

[2017-01-04 18:46] #4224 closed

[2017-01-04 18:53] dessant commented on #4224
@thopiekar, several files have been removed, this should affect the daily ppa.

[2017-01-04 19:12] thopiekar commented on #4224
Thank you for the mention.

Has it already been merged?

Thanks

[2017-01-04 19:16] dessant commented on #4224
Yes, the providers listed above.

[2017-01-04 19:21] laerus commented on #4742
Hey @FeralBytes, yes weston is the reference wayland compositor and a package under debian-testing.

thanks for your response, i will try for a clean kivy install under python3, gnome and see how it'll go.

[2017-01-04 20:50] thopiekar commented on #4224
No problem occurred. Looks like every pattern fit to at least one file.
Well done! No work for me :smile:

[2017-01-04 20:51] dessant commented on #4224
@thopiekar, on nice! 😺

[2017-01-05 00:48] #3753 closed

[2017-01-05 03:45] FeralBytes commented on #4114
@wxv you need to confirm that this is an issue with Kivy latest from github. Please test; and report back.

[2017-01-05 03:47] FeralBytes commented on #4110
Please test that it is still valid for Kivy 1.9.2. Thank you.

[2017-01-05 16:22] arkharin commented on #4656
Hey

I had the same problem before but the latest uploaded packages (uploaded in 2016-12-30, version  	1.9.1-2~stable0+201612301832~pkg153~ubuntuXX.XX)  resolved these problems.

However, pip package is still wrong. I got the same error than #3002  #4155 and http://stackoverflow.com/questions/33988387/cant-run-kivy-on-ubuntu-wily pointed by @balihoo-gens

[2017-01-05 16:58] rubenanagua commented on #2297
I am experiencing this issue as well.

[code]

By commenting out size_hint_y the blurring issue is resolved, however I can't get the label's content to be vertically aligned to the top.

[2017-01-05 22:01] Terrydaktal commented on #4866
@FeralBytes, after removing multiarray.so, the import error no longer appears, the removeview error remains however, the app still crashes

[2017-01-05 22:52] dessant commented on #3370
I'm not sure what was I thinking here, the labels are not respecting the `shorten_from` or `split_str` options in the example because they prioritize over shortening *in some way* if the options cannot be respected, instead of not shortening at all. I think that's the correct behavior.

[2017-01-05 22:52] #3370 closed

[2017-01-05 23:47] kiok46 commented on #4816
if any of the (hoping to be GSoC student) would take the initiative to add this then it would be cool!, else I will add it after 5 days :).

[2017-01-06 04:07] FeralBytes commented on #4866
That error may have something to do with the Splash screen; if I am reading the Java exception correctly; can you try again from Kivy latest via github and ensure the error still occurs. Also can you share a slimed down version of your code that crashes?

[2017-01-06 05:10] FeralBytes commented on #4634
Confirm you are saying that the kivy window does not close? Or does the Window close but the application continues to run on the command line?

[2017-01-06 05:14] bhaveshAn commented on #4816
@kiok46
I would like to work on it.

[2017-01-06 10:34] dessant commented on #3923
Fixed in https://github.com/kivy/kivy/pull/4628.

[2017-01-06 10:34] #3923 closed

[2017-01-06 10:40] dessant commented on #2477
Tracking at https://github.com/kivy/kivy/issues/2182.

[2017-01-06 10:40] #2477 closed

[2017-01-06 10:44] #3332 closed

[2017-01-06 10:45] dessant commented on #3356
I have not yet experienced this, if someone can reproduce it, please reopen.

[2017-01-06 10:45] #3356 closed

[2017-01-06 11:00] dessant commented on #3582
Let's close this, the same could be said about many other widgets, and the thread does not contain a new api proposal or anything actionable.

[2017-01-06 11:00] #3582 closed

[2017-01-06 11:14] dessant commented on #3298
This pr should allow changing the window pos: https://github.com/kivy/kivy/pull/4851.

[2017-01-06 11:22] dessant commented on #3812
The doc describes how to customize the title: https://kivy.org/docs/api-kivy.uix.accordion.html?highlight=title_template#kivy.uix.accordion.AccordionItem.title_template.

[2017-01-06 11:22] #3812 closed

[2017-01-06 13:05] ilovetogetspamed commented on #4634
The window does not close.

I’ll try it with a virgin program.

[2017-01-06 13:42] KeyWeeUsr commented on #4780
Win 8.1, no such issue, VM with 7, also no such thing appeared. I have no clue what should trigger this issue as as saqib said, the touch now equals to what the mouse really travels, which _is good_.

What you however might experience is `Scatter` with this canvas:

    canvas:
        Color:
            hsv: 0, 1, .5
        Rectangle:
            pos: self.pos  # moves "2+ times" more

[2017-01-06 13:48] dessant commented on #4174
Fixed in https://github.com/kivy/kivy/pull/4844.

[2017-01-06 13:48] #4174 closed

[2017-01-06 15:01] #4867 closed

[2017-01-06 20:15] jupart opened #4893 "Kivy Window Not Rendering"
Sometimes when running a Kivy app, the window that appears doesn't render correctly, and is instead see-through (see attached .png, which shows the App window on top of a text editor). This happens even when running ../kivy/examples/application/app_with_kv.py (debug log link: https://gist.github.com/jupart/f0125645b8e0eb96e14ef131080cb96b).

OS - Ubuntu 16.04
Machine - Dell Latitude E6530
Video Dr

[2017-01-06 22:00] dessant commented on #4114
Tracking at https://github.com/kivy/kivy/issues/4893.

[2017-01-06 22:00] #4114 closed

[2017-01-06 22:20] FeralBytes commented on #4893
Notice Window Provider is Pygame not SDL2. Pygame is being replaced by SDL2 on Linux; and Pygame for kivy as a provider is currently undergoing a re-write so far as I remember. So please make sure you have installed the SDL2 requirements for Kivy; then test again.

[2017-01-07 06:56] dessant commented on #3873
The guidelines are linked from https://kivy.org/docs/contact.html.

[2017-01-07 06:56] #3873 closed

[2017-01-07 15:27] FeralBytes commented on #4880
So you say that android_new worked but "buildozer android debug deploy run" is what failed for you?

[2017-01-07 16:37] FeralBytes commented on #4766
So confirm fix action for Fedora is recommend install via pip? I can make that change to the site; but I also have to say; I think the last time I tried to install Kivy via pip it failed. The failure is usually a dependency issue; which is usually related to Cython. I will test again and confirm.

[2017-01-07 16:38] jeffersonheard commented on #4880
@FeralBytes Correct.

[2017-01-07 16:40] FeralBytes commented on #4766
At the very least we could advertise on the Fedora install page that we need a Fedora maintainer.

[2017-01-07 17:26] FeralBytes commented on #4880
The disadvantages for the new_android build depends on your use case. But there are also several advantages. So give it a try with your application and let us know if you encounter issues.

[2017-01-07 18:02] bagonzalo opened #4894 "Installation error - Mac OSX 10.12.02"
Command "/Library/Frameworks/Python.framework/Versions/3.5/bin/python3.5 -u -c "import setuptools, tokenize;__file__='/private/var/folders/7l/wb6q7lsx05s7j7bdrcl41__00000gn/T/pip-build-t6arf64t/kivy/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /var/folders/7l/wb6q7lsx05s7j7bdrcl41__00000g

[2017-01-07 20:01] phunsukwangdu commented on #4816
@dessant @kiok46
I have short and interesting solution.We can use
 #### instances._FocusBehavior__get_focus_next()
Correct me if i am wrong.I would be happy to send the above proposed pr.

[2017-01-07 20:04] KeyWeeUsr commented on #4816
@phunsukwangdu

meaning at least:
* documentation + tags (version, properties, ...)
* non `_method` name (means ~ private/hidden/discouraged to use)

not just an alias ;)

[2017-01-07 20:44] KeyWeeUsr commented on #4495
Closing, because author probably lost interest, and/or the issue was solved.

[2017-01-07 20:44] #4495 closed

[2017-01-07 21:06] phunsukwangdu commented on #4816
@KeyWeeUsr  Thx a lot. Plz have a look at my pr and guide me accordingly.

[2017-01-07 22:51] Terrydaktal commented on #4866
@FeralBytes I have tried it with latest kivy,  latest buildozer,  I have switched round the buildozer.spec so many times but the.apk still crashes on launch with that error.

It's not a very long code so here :

Code:
[code]

Kivy file:

[code]

[2017-01-07 22:53] Terrydaktal commented on #4866
If someone could get a working apk out of this I would really appreciate it.

[2017-01-07 23:17] AndreMiras opened #4899 "Simple SVG crash (geom.c:82: tesedgeSign: Assertion failed)"
I'm trying to render a simple SVG file using the experimental Kivy SVG support.
Actually the SVG is complicated, but I tried to simplify it as much as I could for bug reporting.
Anyway, the code crashes before rendering the file.

The code I'm using (kivy_svg.py):
[code]

The SVG image I'm trying to render (image.svg):
[code]

Run output:
[code]

[kivy_17-01-07_149.txt](https://gist.github.com/And

[2017-01-08 19:27] linkmauve commented on #2761
This seems to be an upstream issue, I’ve been able to reproduce using PyTouhou, which is using SDL_ttf directly to do the rendering.

[2017-01-08 21:00] goffi-contrib commented on #4741
Hello, I have the same issue with a Label (tested on 1.9.1 and git). The following code reproduce the issue:

[code]

After spending a lot of time on it, I finally found that it is due to this bug: https://github.com/kivy/kivy/issues/2761

I've checked, the bug is still here, and if you do `export KIVY_TEXT=pil` the smiley is shown as expected.

I think it would be interesting to consider integrat

[2017-01-08 21:23] goffi-contrib opened #4902 "Use Pango as text renderer"
Currently, Kivy use sdl2 or PIL text renderer, and doesn't handle fallback, [multilingual text](http://stackoverflow.com/questions/39029719/python-kivy-how-to-display-multi-language-in-one-label-unicode) or [complex processing](https://github.com/kivy/kivy/issues/2669) and in addition some bugs are present (https://github.com/kivy/kivy/issues/4741).

The use of [Pango](http://www.pango.org/) shoul

[2017-01-08 23:16] KeyWeeUsr opened #4903 "Moblin being LGPL and dead + missing info theme files"
I've always wondered _what actually is Moblin_ (or [was](https://en.wikipedia.org/wiki/Moblin)) and why in a MIT (I know it was LGPL before) framework is used an LGPL theme. So I've done some digging in the repo.

The part of `README.md` regarding Moblin hasn't change at all since it was actually created with no reference to actual files or designs, just that `...design has been adapted...` from i

[2017-01-08 23:28] KeyWeeUsr commented on #4759
@SynedraAcus The `kivy.tools` folder is missing completely, or only a part of it, e.g. `gles` header or something...? Probably it's only missing [here](https://github.com/kivy/kivy/blob/master/setup.py#L968).

[2017-01-09 03:06] SynedraAcus commented on #4759
There was no `tools` folder at all *in installed library* at, if my memory serves, `/usr/lib/python3.4/dist-packages`. I have very little idea how kivy gets packaged and installed, so I cannot say why this issue come to be.

[2017-01-09 09:54] #4816 closed

[2017-01-09 10:58] Leva7 commented on #4902
The link markup is wrong :)

[2017-01-09 11:01] goffi-contrib commented on #4902
@Leva7 fixed, thanks :)

[2017-01-09 12:53] KeyWeeUsr commented on #3110
Do we need exactly `.mpg` file, or could it be [something else](https://videos.pexels.com/popular-videos)? After the video only the gifs+zips would remain on the todo list.

[2017-01-09 18:27] yaki29 opened #4904 "Window hangs when "q" is pressed to shut the camera window down."
When I press the "hello" button it opens the Camera window but when I press "q" to shut it down. The window hangs and I have to "Force Quit".
Here is the code: [https://gist.github.com/yaki29/abe76c7adf9a2cd7971f177b93045921](https://gist.github.com/yaki29/abe76c7adf9a2cd7971f177b93045921)

And also is there a way with which I can use OpenCV functions and methods to do something with kivy.uix.came

[2017-01-10 11:16] KeyWeeUsr commented on #4903
Could you please look at it and confirm if those files are ripped from Moblin, or not? As I see it, there were some replacements of the old files, so the already mentioned files might be the only thing from Moblin, however, it'd be nice to be sure.

@abhijangda
* ActionBar https://github.com/kivy/kivy/commit/49cab13397c580fed0c34c5c4e9b87def7f81fad

@akshayaurora
* Bubble https://github.com/kivy/k

[2017-01-10 12:51] martinsik opened #4907 "Kivy Garden packages not discovered on OS X"
I've encountered a problem where my app can't find packages installed via Garden tool. Eg.:

[code]

I checked the source code and in [bin/garden](https://github.com/kivy-garden/garden/blob/master/bin/garden#L33) it by default installs packages into my home directory:
[code]
This is for example `/Users/martin/.kivy/garden/`.

However when importing the module it by default looks into `/Application

[2017-01-10 20:16] phunsukwangdu opened #4908 "Kivy.utils intersection Bug."
There is a interesting bug in Kivy.utils  intersection part.
In python interpreter

[1, 2, 3]

[1, 2, 3, 1, 2]

But we know intersection(x,y)==intersection(y,x) but same is not the case above.

[2017-01-10 20:23] KeyWeeUsr commented on #4907
This is a known bug (https://github.com/kivy-garden/garden/issues/13) in the garden. Try to compile Kivy from source, I think when installed that way the garden works correctly, however the "Kivy.app" OSX thing works kind of different, because it holds its own environment(`KIVY_HOME`) as you've noticed.

[2017-01-11 00:43] #4841 closed

[2017-01-11 08:46] ngala commented on #705
This is because p4a was re-written in 2015 and the old documentation has been moved to ''old_toolchain".

The above link https://python-for-android.readthedocs.io/en/latest/faq/#sqlite3-so-not-found
is now https://python-for-android.readthedocs.io/en/latest/old_toolchain/faq/#sqlite3-so-not-found

[2017-01-11 09:08] yaki29 commented on #4841
@dessant Sorry for making you wait, I started working on something else. By the way, I have installed both gst 0.10 and 1.*. There was something else that was creating the problem.
Thanks.

[2017-01-11 10:14] #4908 closed

[2017-01-11 10:22] jimanvlad opened #4910 "Vispy"
Hi,

Is there any way to use [VisPy ](http://vispy.org/index.html)with a Kivy backend?

[2017-01-11 21:16] inclement commented on #4910
I'm not aware of anyone having written the code for it, but I'm fairly sure it should be possible if anyone wants to try. I had a look at it once but never spent enough time to get very far. I think I was going the route of trying a Kivy window backend for Vispy, but that's not the only possibility.

[2017-01-11 21:16] #4910 closed

[2017-01-12 00:43] #4791 closed

[2017-01-12 01:10] steinnes commented on #3576
I think I'm having the same issue as @jegger, works fine on Windows 8.1 on one of my machines, but when testing my packaged app on Windows 10 I get the 1.1 error:
![image](https://cloud.githubusercontent.com/assets/1097582/21873057/ec7a90c0-d863-11e6-8151-ecaebde91d6d.png)

[2017-01-12 12:29] 700brains commented on #2477
WHEN TRYING TO CLONE python-for-android it gives these error
# Install platform
# Run 'git clone -b old_toolchain --single-branch
https://github.com/kivy/python-for-android.git python-for-android'
# Cwd /home/pyguy/kivyinstall/kivyapp/.buildozer/android/platform
Cloning into 'python-for-android'...
error: RPC failed; curl 56 GnuTLS recv error (-54): Error in the pull
function.
fatal: The remote en

[2017-01-12 14:33] pythonic64 opened #4912 "Missing 'return' in get method for Mesh `mode` property"
Going through code of Mesh class, I've noticed that "return" is missing for mode property.
Ref: https://github.com/kivy/kivy/blob/master/kivy/graphics/vertex_instructions.pyx#L490

[2017-01-12 14:47] KeyWeeUsr commented on #4912
I think I couldn't get the mode either before. Might be the thing, as it's in [here](https://github.com/kivy/kivy/blob/082c4544415ab6bd976d9dda9c342bae109e7cbb/kivy/graphics/vbo.pyx#L256). Will you make a pull request? :)

[2017-01-12 14:58] jimanvlad commented on #4910
Do you have any code from the time when you were trying to use kivy's backend? Alternatively, would you know of any other way to have interactive/real-time graphs built in? Matplotlib is pretty terrible and kivy doesn't yet support web views for python3 to try and go the Bokeh route (CEFpython doesn't support python3).

[2017-01-12 16:17] KeyWeeUsr commented on #4253
I don't experience such thing with `sdl2` (`export KIVY_WINDOW=sdl2`) and Kivy compiled from master on Zero
[code]

[2017-01-12 17:48] pythonic64 commented on #4912
I will probably have time next week, if someone else doesn't make a pull request in the meantime.

[2017-01-12 23:21] inclement commented on #4910
I don't think I had any useful code, even if I still have the branch
somewhere.

I think the main direction of what I was trying was to add a Vispy
window provider. Vispy's system for choosing this provider is fairly
clear in their source code, so it shouldn't be too hard to slot this in.
As I remember, the window code was supposed to set up the window then
run Vispy's eventloop passing in the win

[2017-01-13 07:12] phunsukwangdu commented on #4912
@KeyWeeUsr i will work on this issue.

[2017-01-13 11:29] melassa opened #4914 "TextInput bug when insert position changes"
1) Focus a TextInput
2) Type 'abc'
3) Tap the textinput to put the cursor before 'abc'
4) Write 'xyz'
5) The result is totally wrong:
      it should be: 'xyzabc'
      instead it is: 'abcxyzabc'
The bug is on LG, Android Lollipop, kivy 1.9.1, keyboard LG (with predictions or without)

[2017-01-13 11:41] martinsik commented on #4907
I guess I can close this since it's already mentioned here kivy-garden/garden#13.

[2017-01-13 11:41] #4907 closed

[2017-01-13 12:55] saqib1707 commented on #4717
@KeyWeeUsr I am working on this feature . But just had a doubt that should this kind of order-fixed separation be done for all the features similar to padding or only for padding ?

[2017-01-13 13:08] KeyWeeUsr commented on #4717
For all. Everything that depends on some fixed order of the values like CSS properties should be separated and exposed to the user independently. There should be no requirement for user to memorize this or have the documentation constantly opened.

On the other hand, there are e.g. parameters in [Mesh](https://github.com/kivy/kivy/blob/master/kivy/graphics/vertex_instructions.pyx#L326) that are ex

[2017-01-13 14:25] dessant opened #4915 "Compound selection nonstandard behavior"
Tested with [this](https://github.com/kivy/kivy/blob/master/examples/widgets/compound_selection.py) example. Steps to reproduce:

* click first item
* Shift+click fifth item
* Ctrl+click first, second and third item
* Shift+click fourth item

Kivy:
![kivy](https://cloud.githubusercontent.com/assets/7513068/21932997/1971fb56-d9ac-11e6-946c-d52446df4c30.gif)

Windows 10 file explorer:
![windows](htt

[2017-01-13 14:40] malverick commented on #4915
I want to work on this issue. I will send the pr solving the issue within 2 days.

[2017-01-13 14:46] saqib1707 commented on #4915
@dessant since I had resolved a similar issue a few days back.I have fresh everything in mind and want to solve this.Can u please assign this to me otherwise there would be ambiguity?

[2017-01-13 14:58] malverick commented on #4914
I will work on the issue and send the pr as soon as possible.

[2017-01-13 15:48] dessant commented on #4915
It's ok to signal on 1-2 issues that you are currently working on them, but what is happening on the issue tracker has a taste of territory marking. Please do not overdo the 'i intend to work on this issue' comments.

Since both of you are prospective gsoc students, here is a small competition for you guys:

@malverick, @saqib1707, to take part, you must submit a pr fixing this issue at 14:00:00 U

[2017-01-13 21:41] matham commented on #4912
https://github.com/kivy/kivy/pull/4913

[2017-01-13 21:41] #4912 closed

[2017-01-13 22:00] matham commented on #4717
hmm, we need to have a discussion before any of this happens. While I agree it's a problem, adding new properties to base widgets (which would be required for this) adds a significant performance cost.

So each property potentially replaced would require discussion.

[2017-01-13 23:09] KeyWeeUsr commented on #4717
I'm mostly targetting the properties with >2 values, because the rest isn't really an issue (maybe some snowflakes). The properties are mostly `ListProperty` or `VariableListProperty` and the change would be to separated ones joined in `ReferenceListProperty` or similar alternative.

Namely (hopefully all of them):
* [ActionBar.border](https://github.com/kivy/kivy/blob/master/kivy/uix/actionbar.py

[2017-01-14 06:42] phunsukwangdu commented on #4915
@dessant @matham since i am also a aspiring gsoc2017 student can i also participate in this competition.?i have solved the issue in my local repo.

[2017-01-14 08:21] dessant commented on #4915
@phunsukwangdu, sorry, this game is played by two. You can submit your fix after the competition closes, if none of the prs contain the right fix.

[2017-01-14 08:23] phunsukwangdu commented on #4915
@dessant i am really excited and crossed confirmed the issue.Can i mail u solution now?

[2017-01-14 15:01] dessant commented on #4915
@malverick, @saqib1707, thanks for the submissions, you have 3 more hours for reviewing each other's prs.

[2017-01-14 16:07] inclement commented on #4915
@malverick @saqib1707 @phunsukwangdu and other aspiring gsoc students: As a general point, we appreciate your enthusiasm to address and discuss similar issues, but there is no need to compete for rapid solutions to the same ones and we are not especially impressed by your doing so. If someone says that they are working on an issue, it is usually better to leave it a while to give them a chance to

[2017-01-14 16:13] pythonic64 opened #4918 "GridLayoutException not imported in recyclegridlayout.py"
As said in title, GridLayoutException is not imported from kivy.uix.gridlayout module, so this [line](https://github.com/kivy/kivy/blob/master/kivy/uix/recyclegridlayout.py#L130) will raise a NameError.

[2017-01-14 16:48] saqib1707 commented on #4915
@inclement I realised my fault yesterday but actually when the issue was raised and I was having a look at it , within a few minutes seeing someone's comment that he is working on it triggered me that I should also inform that I am working on this issue. I guess @dessant  was really upset with me yesterday and I am sorry...Won't happen next time...

[2017-01-14 20:12] dessant commented on #4915
@saqib1707, @malverick, thanks guys, we will take a look at the two prs in the next few days, please leave them as is.

[2017-01-14 23:53] ngoonee opened #4922 "Why unbind _trigger_layout for RecycleBoxLayout?"
Referring to __init__ function in RecycleBoxLayout, where we currently do funbind('children', self._trigger_layout)

Not sure on why this is necessary, as this breaks ScrollView's scroll_to. The code was introduced fairly recently in https://github.com/kivy/kivy/pull/4633 as a response to https://github.com/kivy/kivy/issues/4619

I'm trying to implement goto_view on RecycleView currently, hence wh

[2017-01-15 00:11] KeyWeeUsr commented on #4922
Just to be sure, you mean https://github.com/kivy/kivy/commit/8153a238a006b05438ff7cbcfa511d62cad26543#diff-ce81d7c10bed1f52a454905d0f48131eR13 right? There's no problem with ScrollView per se, is it?

[2017-01-15 00:35] ngoonee commented on #4922
It's the interaction between ScrollView (the PR I linked to checks _trigger_layout) and RecycleView's own layouts (which unbind _trigger_layout complete). Neither is broken in and off itself, they just do not interact in the way you'd expect (ScrollView assumes that any layout which is its' child has a ._trigger_layout, but RecycleBoxLayout unbinds it).

[2017-01-15 14:08] JayGray opened #4924 "Showcase fails to start on case-sensitive OS"
[code]

I was able to fix this locally by removing the both lower calls in line:
https://github.com/kivy/kivy/blob/master/examples/demo/showcase/main.py#L117
and
https://github.com/kivy/kivy/blob/master/examples/demo/showcase/main.py#L122

Instead `lower()` the screen name in
https://github.com/kivy/kivy/blob/master/examples/demo/showcase/main.py#L71

[code]

[2017-01-16 01:42] KeyWeeUsr commented on #4307
[Android](http://stackoverflow.com/a/2700683/5994041) seems quite possible too, except for the shaped window. However, I'm not sure if it'd have any use-case on android anyway.

[2017-01-16 10:31] dessant commented on #4924
@JayGray, thanks! You may also open a pull request when you have a fix in mind.

[2017-01-16 10:39] dessant commented on #4902
@goffi-contrib, I don't have any experience with this, but i've heard people recommending harfbuzz instead of the pango abstraction. What is the reason for preferring pango in this specific case?

[2017-01-16 10:40] FeralBytes commented on #4114
@dessant I recommend this one stay open; as the window provider is actually SDL2 on this one. But on #4893 the window provider is Pygame and so the user does not have all of the Kivy requirements installed for sure. So if you could close that one and open this one.

[2017-01-16 10:43] FeralBytes commented on #4866
@Terrydaktal please post a new log output now that you have removed the "multiarray.so".

[2017-01-16 10:44] dessant commented on #4114
@FeralBytes, i would have no problems with reopening, but the author did not follow back, and we were not able to reproduce the issue. Our best shot seems to wait for your request to get a response here https://github.com/kivy/kivy/issues/4893#issuecomment-271026361. Unless you were able to reproduce the issue with sdl2.

[2017-01-16 10:45] FeralBytes commented on #4742
@laerus Any luck?

[2017-01-16 10:46] dessant commented on #4866
This looks like either an user error, or an issue with the numpy recipe, moving to p4a.

[2017-01-16 10:47] dessant commented on #4893
@jupart, please follow up with your findings.

[2017-01-16 10:48] dessant commented on #4866
This issue was moved to kivy/python-for-android#982

[2017-01-16 10:48] #4866 closed

[2017-01-16 10:52] dessant commented on #4918
@pythonic64, would you mind creating a pr for it?

[2017-01-16 11:07] dessant commented on #4880
The old toolchain isn't practically supported anymore, an announcement will follow in the near future.

[2017-01-16 11:07] #4880 closed

[2017-01-16 12:01] FeralBytes commented on #4114
@dessant OK good point, I did not realize just how old the original post was.

[2017-01-16 13:30] pythonic64 commented on #4918
I'll work on pull request this weekend, if someone else doesn't submit it in the meantime.

[2017-01-16 14:07] jupart commented on #4893
I do have libsdl2-2.0-0 and libsdl2-dev installed on my machine. Do I need to build Kivy with any special flags to make it use SDL instead of pygame?

[2017-01-16 14:17] dessant commented on #4893
The `USE_SDL2=1` env var is one way, but it should be the default when sdl2 is found. Try compiling again and see the beginning of the build log, it should mention the sdl2 headers, and the value of the env var. The rest of the sdl2 deps must also be installed before compiling: https://kivy.org/docs/installation/installation-linux.html#ubuntu-example

[2017-01-16 15:44] goffi-contrib commented on #4902
@dessant not a expert either, but Pango handle layout and text rendering, and is using Harfbuzz actually (which do text shaping)

You give text to Pango and it returns a ready-to-use rendered image, it's more high level than Harfbuzz, and hopefully should not be too hard to integrate with Kivy.

It's used by at least Firefox, and GTK+, so it's solid project.

[2017-01-16 19:37] jegger commented on #3576
I did some further testing:
- On a Windows 10 (64bit) it does not work (as described in my last comment)
- On a Windows 7 (32bit, in a virtual-machine) it does work
Could it be related to the architecture (32/64bit?) What do you have @steinnes ?

I created via Pyinstaller3.3-dev (and kivy latest master) a:
- single file executable: Does work on Win10 and Win7
- folder based executable: Does show O

[2017-01-16 20:55] jupart commented on #4893
Rebuilding Kivy seems to have solved my issue, I must have installed the needed SDL2 packages in the mean time. Thanks!

[2017-01-16 20:55] #4893 closed

[2017-01-17 06:00] brvier opened #4926 "TypeError on selecting text on TextInput"
While selecting text on a large editable TextInput i often got this error on android.

[code]

[2017-01-17 10:12] waqasm86 opened #4928 "Kivy via conda"
Hello there,
I would like to install kivy via 'conda' (continuum analytics) instead of 'pip' command. When would it be possible to see the availability of kivy via anaconda package list for Python 3.5.

https://docs.continuum.io/anaconda/pkg-docs

Thanks

Waqas

[2017-01-17 10:39] KeyWeeUsr commented on #3110
Fixed in PRs above.

[2017-01-17 10:39] #3110 closed

[2017-01-17 11:41] misl6 opened #4929 "weakly-referenced object no longer exists"
[code]

[2017-01-17 11:48] dessant commented on #4929
Could you share the code you're running?

[2017-01-17 16:27] laerus commented on #4742
tried again from the debian testing repo with python3-kivy Version: 1.9.1-1

[code]

[2017-01-17 17:49] #3799 closed

[2017-01-17 17:50] #3298 closed

[2017-01-17 18:04] dessant commented on #4928
Kivy installation methods are fragmented enough as is, which causes numerous issues. We aim to distribute kivy with the help of wheels on all platforms, just like on Windows.

If someone from the community would like to maintain a conda package, that's certainly welcome, but the Kivy team does not have the resources to properly support it.

[2017-01-17 18:04] #4928 closed

[2017-01-17 19:17] thopiekar commented on #4742
First of all the PPA is not meant to be used with Debian, so you are installing Kivy using packages built on Ubuntu on your own risk.
Second, if you are mixing distros try to fetch the Ubuntu release from the PPA, which fits the most to your Debian installation. Eg. you mentioned that there is only Python 3.5, so try to use 'yakkety' here 😉

Regards

[2017-01-17 19:27] laerus commented on #4742
the last comment was about installing kivy from the debian-testing repo not the kivy one.

[2017-01-17 19:30] AlessandroMedici opened #4930 "error in garden search"
Lanuncing: garden search
Traceback:
AlessandroMedici/garden_search_traceback

I think it's just a simple omitted line:

before:
        p = subparsers.add_parser('search',
                help='Search garden package on github')
        p.add_argument('pattern', nargs='?', default='',
                help='Word to search in the package name (optional)')
        p.set_defaults(func=self.cmd_search)

[2017-01-17 19:30] thopiekar commented on #4742
Oops, sorry. In that case check the package itself, who the maintainer is. You can use Synaptic for that.

Our PPA packaging differs a lot to the Debian or Ubuntu packaging.

I guess the maintainer(s), who own the package from debian-testing can help you much better.

[2017-01-17 20:29] taisreis opened #4931 "Packaging on Windows with error gstplayer playbin"
I created a windows package kivy(1.9.1) using PyInstaller(3.2) and I followed the instructions from the documentation but when I run the .exe get the message error "Unable to create a playbin".
I have the Kivy dependencies installed and the GStreamer(1.11.1).
My output: https://gist.github.com/taisreis/006015cd5e20d1ed5801026775174230

[2017-01-17 20:35] dessant commented on #4931
This may help: https://github.com/kivy/kivy/issues/4652.

[2017-01-17 20:47] matham commented on #4929
The error basically says that `on_release: dropdown.open(self)` referenced an object which is not alive anymore. Likely, `dropdown` that you reference has been removed. Please see https://kivy.org/docs/guide/lang.html#referencing-widgets for the exact details.

But it's hard to know for sure without your code.

[2017-01-17 21:03] taisreis commented on #4931
I've already see this and the PyInstaller version I'm using is already with this bug fixed.

[2017-01-17 21:07] malverick commented on #4914
Hi @melassa. I think you are trying to build an apk using old toolchain(`buildozer android debug`)
Try using the new toolchain(`buildozer android_new debug`). You will not receive any such issue.

[2017-01-17 21:13] dessant commented on #4930
It's hard to follow your post, could you share the full traceback, together with the command you used? Garden version? How did you install it?

[2017-01-18 14:48] saqib1707 commented on #4415
@KeyWeeUsr [This](https://github.com/kivy/kivy/blob/master/kivy/lang/parser.py#L509-L511) shows that one can put comments in a separate line and not at the end of a line.But first  of all putting comments at the end of any line except canvas: or canvas.before(after) doesn't produces any error(which it should have) .
I think to remove all types of comments we can add a extra check like [here](http:

[2017-01-18 14:58] FluxIX commented on #4415
If the parser used regular expressions on a line-level comments could appear at the end of lines.

[2017-01-18 15:01] KeyWeeUsr commented on #4415
Not at all. That part of the code handles _all_ lines, while for this to work there has to be again introduced the same separation of `blob:` as kv element and <everything after `:`> as Python as for widgets, which would change the `# error comment` string to a comment and wouldn't raise an error.

with this check or with regex a single `'#'` in a property would trigger EOL error. This isn't reall

[2017-01-18 16:06] dessant commented on #3576
@jegger, there have been substantial graphics changes since the last stable release, you might want to test master too.

[2017-01-18 16:16] jegger commented on #3576
@dessant Today I tried it with the latest kivy build (windows wheel https://kivy.org/downloads/appveyor/kivy/Kivy-1.9.2.dev0-cp27-cp27m-win32.whl)

I built with pyinstaller (also latest master branch) a folder based executable on windows 10 (virtual machine 64bit). This runs on the virtual machine itself but runs into this error on the other physical windows10 64bit machine. When building a pyinst

[2017-01-18 16:43] matham commented on #3576
Try setting the environment to KIVY_GL_BACKEND=sdl2 and see if that fixes
it. That needs to be set before kivy is imported. You can set it in environ
before the first kivy import.

On Jan 18, 2017 11:16 AM, "Dominique Burnand" <notifications@github.com>
wrote:

@dessant <https://github.com/dessant> Today I tried it with the latest kivy
build (windows wheel https://kivy.org/downloads/
appveyor/kivy

[2017-01-18 17:13] jegger commented on #3576
@matham Thanks for your input. I tried setting the variable by: `os.environ["KIVY_GL_BACKEND"] = "sdl2"` before any kivy imports in my main file. I can confirm that the flag is recognized when I run the script on the machine on which there is no error. The log shows: "Backend used glew" without the variable beeing set and "Backend used sdl2" with the env-variable set to sdl2.

But this does not se

[2017-01-18 17:58] jimanvlad opened #4932 "Clock scheduling in a loop"
Hi,

I have the below (simplified) code:

[code]

Unfortunately though, after 20 seconds, the console will print:
[code]

Rather than the expected:
[code]

Any idea why this would be happening?

[2017-01-18 18:00] #4932 closed

[2017-01-18 18:01] dessant commented on #4932
You might have better chances by asking on the support channels, though your example would likely need to be complete. https://github.com/kivy/kivy#support

[2017-01-18 18:05] jimanvlad commented on #4932
It looks like a bug in Kivy to me rather than a support request.

I have also tried the email address but received an automated reply:

We're writing to let you know that the group you tried to contact (kivy-users) may not exist, or you may not have permission to post messages to the group. A few more details on why you weren't able to post.

[2017-01-18 18:35] inclement commented on #4932
I don't think it's a Kivy bug, it looks like the standard problem with [lambda in a for loop](http://stackoverflow.com/questions/19837486/python-lambda-in-a-loop). Try changing the lambda declaration to `lambda dt, inbox=inbox: self.labelUnread(...)`.

[2017-01-18 18:56] falseen opened #4933 "When I create a new thread, cpu and memory usage suddenly rose to 100%."
I tried to create a new thread in kivy to perform other tasks, I built a new button, and bind the start function, in this function used threading to start my program. But once the implementation of this thread, cpu and memory suddenly rose to 100%, until the crash. But when it is running alone, there is no problem. I do not understand the problem lies in which, please help me!

ps:  I tried to run

[2017-01-18 19:21] matham commented on #3576
I think you'll have to debug it on your machine since none of us can reproduce it. The place to look at is https://github.com/kivy/kivy/blob/master/kivy/core/gl/__init__.py and https://github.com/kivy/kivy/blob/master/kivy/graphics/opengl_utils.pyx#L240.

I'd also try to add the referenced `_kivy_opengl_required_func` to sys (e.g. `sys._kivy_opengl_required_func = lambda *largs: 1`) which will mak

[2017-01-18 21:21] #4933 closed

[2017-01-18 21:24] dessant commented on #4933
Based on what you described, it's unlikely you're experiencing a kivy bug, check out our support channels, and make sure you have prepared an example.

https://github.com/kivy/kivy#support

[2017-01-18 22:12] younis-jd commented on #2119
I have a Lable inside a ScrollView and I have the same issue. I'm running my Kivy app on a Raspberry Pi 3. Is there a way to know the limit. It seems to have a different limit everytime the app is running. Because I can see the view turns blank at different amount of text. Thank you :)

[2017-01-18 23:19] matham commented on #2119
I think generally if you reach the maximum size in your app, you should probably change your app to break up text in smaller labels.

The texture size I believe is fixed for a particular system.

[2017-01-18 23:33] melassa commented on #4914
I am using kivy launcher

[2017-01-19 00:09] malverick commented on #4914
The issue which you have described here is not actually a bug because I tried to use text input in all platforms and I faced this issue only in android that too using old toolchain(which should not be used now).
So, if you are using kivy launcher and facing the issue the I would encourage you to build an apk using new toolchain and then use it.

[2017-01-19 00:16] KeyWeeUsr commented on #4914
@melassa Old launcher with code and bootstrap from ~1 year ago. [Build a new one](http://python-for-android.readthedocs.io/en/latest/launcher/), or as suggested, just package it as a separate app and test again.

However, there was a similar thing (#4173), so you might want to check that too (might be the same bug?), though I can't reproduce it either.

[2017-01-19 00:17] KeyWeeUsr commented on #2609
I can't reproduce with latest version a bare app (`runTouchApp(Button())`), app with single `on_dropfile` and neither with the example `multiple_dropfile.py`. The same even for bindings at `on_release`, `on_press`, `on_touch_*`. I wonder what it was fixed with.

[2017-01-19 03:50] FeralBytes commented on #140
@KeyWeeUsr I don't think I understand your plan here?
I was thinking on_error would be good for notification and then the variable that is passed to the on_error function would be the error code. What do you think?

[2017-01-19 05:00] Akay7 commented on #4931
I'm get same trouble
`
 kivy.lib.gstplayer._gstplayer.GstPlayerException: Unable to create a playbin
Failed to execute script main
`
I'm look at stack trace and to know about I get that trouble after
`
SoundsLoader.load('music.ogg')
`

[2017-01-19 05:37] matham commented on #4931
Are you sure you have the fixed pyinstaller version? Because it's not merged yet.

[2017-01-19 05:39] matham commented on #4931
If you do have the fixed version, can you please do what was done in the other issue so we could figure out what the issue is: https://github.com/kivy/kivy/issues/4652#issuecomment-251164457 and https://github.com/kivy/kivy/issues/4652#issuecomment-251313539.